* {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 13px;

}

/* cursor: pointer; 鼠标表小手 */
a {
	text-decoration: none;
}

#tb {
	font-size: 15px;
}

.niubi {
	width: 100%;
	min-width: 1190px;
	background-color: #f2f2f2;
}

/* 导航 ----------------------------------------------------*/
.header {
	width: 100%;
	height: 30px;
	min-width: 1190px;
	background-color: #e3e4e5;
}

.header a {
	text-decoration: none;
	color: #999999;
}

/* 导航最小框 */
.h_m {
	width: 1190px;
	height: 30px;
	line-height: 30px;
	color: #999;
	margin: 0 auto;
}

/* 导航左定位 */
.h_ml {
	float: left;
	color: #999;
	padding: 0 10px;
	position: relative;
}

.h_ml:hover {
	background-color: white;
}

/* 定位下拉列表 */

.gd {
	width: 320px;
	height: 440px;
	position: absolute;
	background-color: white;
	top: 30px;
	left: -1px;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	display: none;
	z-index: 888;
}

.h_ml:hover .gd {
	display: block;
}

.gd>ul {
	float: left;
}

.diqu>li {
	width: 52px;
	height: 24px;
	margin: 6px;
	text-align: center;
	line-height: 24px;
}

.diqu li:hover {
	background-color: red;
	color: white;
	border-radius: 5px;
}

.dq {
	margin: 0 0 0 15px;
}

.gd_x {
	width: 290px;
	height: 1px;
	background-color: #F2F2F2;
	float: left;
	margin: 10px 0 10px 20px;
}

.yinwen li {
	width: 140px;
	background: no-repeat;
	margin: 0 0 0 10px;
}

.diqu1 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 3px;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 0 0;
}

.diqu2 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 20px 0;
}

.diqu3 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 40px 0;
}

.diqu4 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 0px 17px;
}

.diqu5 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: -20px 17px;
}

.h_ml>span {
	padding-left: 10px;
	color: red;
	font-weight: 700;
}

/* 导航右边 */
.h_mr {
	height: 30px;
	float: right;
}

.h_mr>span {
	margin: 0 5px;
	float: left;
}

.dl>a:nth-child(1) {
	color: #999;
	font-weight: 500;
}

.dl>a:nth-child(1):hover {
	color: red;
}

.dl>a:nth-child(2) {
	color: red;
}

/* 竖线 */
.dl_shu {
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: #ccc;

}

/* 我的京东 */
.wdjd {
	padding: 0 5px;
	position: relative;
}

.wdjd:hover {
	/* background-color: red; */
	background-color: white;
}

.wdjd>a:hover {
	color: red;
}

/* 我的京东下拉 */
.wdjd:hover .wdjd_m {
	display: block;
}

.wdjd_m {
	position: absolute;
	width: 270px;
	height: 164px;
	background-color: white;
	left: 0;
	display: none;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
}

.wdjd_m>ul {
	float: left;
}

.wdjd_m>ul>li {
	width: 120px;
	margin: 0 0 0 15px;
}

.wdjd_m>ul>li a:hover {
	color: red;
}

/* 京东会员 */
.jdhy a:hover {
	color: red;
}

/* 企业采购 */
.qycg {
	padding: 0 3px;
	position: relative;
}

.qycg:hover {
	background-color: white;
}

.qycg a:hover {
	color: red;
}

/* 企业采购下拉 */
.qycg_m {
	position: absolute;
	left: 0;
	width: 156px;
	height: 70px;
	background-color: white;
	display: none;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
}

.qycg:hover .qycg_m {
	display: block;
}

.qycg_m>ul {
	float: left;
}

.qycg_m>ul>li {
	width: 65px;
	margin: 2px 0 0 5px;
}

/* 客户服务 */
.khfw>a:hover {
	color: red;
}

.khfw {
	position: relative;
	padding: 0 3px;

}

.khfw:hover {
	background-color: white;
}

/* 客户服务下拉菜单 */
.khfw:hover .khfw_m {
	display: block;
}

.khfw_m {
	position: absolute;
	left: -113px;
	width: 171px;
	height: 248px;
	background-color: white;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	display: none;
}

.khfw_m>p {
	float: left;
	width: 160px;
	height: 20px;
	margin: 0 0 0 5px;
	font-weight: bold;
	color: #868686;
}

.khfw_m>ul {
	float: left;
}

.khfw_m>ul>li {
	width: 80px;
	margin: 0 0 0 5px;
}

/* 网站导航 */
.wzdh {
	position: relative;
	padding: 0 3px;

}

.wzdh:hover {
	background-color: white;
}

/* 网站导航下拉 */
.wzdh:hover .wzdh_m {
	display: block;
}

.wzdh_m {
	width: 1000px;
	height: 252px;
	background-color: white;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	display: none;
	position: absolute;
	left: -942px;
}

/* <!-- 特色主题 --> */
.wzdh_m1 {
	width: 300px;
	height: 100%;
	margin: 0 0 0 20px;
	float: left;
}

.wzdh_m1>p {
	width: 100%;
	height: 24px;
	line-height: 24px;
	color: black;
	font-weight: 700;
	font-size: 15px;
	margin: 10px 5px 0 0;
	float: left;
}

.wzdh_m1>ul {
	float: left;
}

.wzdh_m1>ul>li {
	width: 100px;
	height: 27px;
}

.wzdh_m1>ul>li>a:hover {
	color: red;
}

/* <!-- 竖线 --> */
.wzdh_x {
	width: 1px;
	height: 80%;
	background-color: #d6d6d6;
	float: left;
	margin: 20px 0 0 0;
}

/* <!-- 行业频道   生活服务  更多精选--> */
.wzdh_m2 {
	width: 205px;
	height: 100%;
	/* background-color: red; */
	float: left;
	margin: 0 0 0 20px;
}

.wzdh_m2>p {
	width: 100%;
	height: 24px;
	line-height: 24px;
	color: black;
	font-weight: 700;
	font-size: 15px;
	margin: 10px 5px 0 0;
	float: left;
}

.wzdh_m2>ul {
	float: left;
}

.wzdh_m2>ul>li {
	width: 100px;
	height: 27px;
}

.wzdh_m2>ul>li>a:hover {
	color: red;
}

/* 手机京东 */
.sjjd {
	position: relative;
	padding: 0 3px;
}

.sjjd:hover {
	background-color: white;
}

.sjjd:hover .sjjd_m {
	display: block;
}

.sjjd_m {
	width: 190px;
	height: 300px;
	background-color: white;
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	left: -133px;
}

/* <!-- 第一个二维码 --> */
.sjjd_m1 {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ccc;
}

/* <!-- 二维码图 --> */
.sjjd_erweima {
	width: 70px;
	height: 70px;
	margin: 15px 0 0 10px;
	float: left;
	border: 1px solid #ccc;
}

.sjjd_erweima>img {
	width: 70px;
	height: 70px;
}

/*<!-- 二维码图右边的字 --> */
.sjjd_z {
	width: 96px;
	height: 70px;
	float: left;
	margin: 15px 0 0 0;
}

.sjjd_z>p:nth-child(1) {
	height: 17px;
	font-weight: 700;
	color: #686868;
	margin: -8px 0 0 5px;
}

.sjjd_z>p:nth-child(2) {
	margin: 10px 0 0 5px;
	color: red;
	line-height: 16px;
}

.sjjd_z>p>span {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: red;
}

.sjjd_z>p>span:nth-child(1) {
	background: url(../img/sprite_mobile@1x.png);
}

.sjjd_z>p>span:nth-child(3) {
	background: url(../img/sprite_mobile@1x.png);
	background-position: 0 25px;
}

.sjjd_z>p>span:nth-child(2) {
	background: url(../img/sprite_mobile@1x.png);
	background-position: 0 51px;
}

/* <!-- 导航2 -------------------------------------------------------> */
.daohang2 {
	width: 100%;
	background-color: white;
	min-width: 1190x;
	border-bottom: 1px solid #ddd;
}

.daohang2 a {
	text-decoration: none;
	color: #999999;
}

.dh2_m {
	width: 1190px;
	height: 130px;
	margin: 0 auto;
	padding-top: 10px;
}

/* <!-- logo图 --> */
.dh2_logo {
	width: 190px;
	height: 120px;
	float: left;
}

.dh2_logo>img {
	width: 190px;
	height: 120px;
}

/* <!-- 搜索框 --> */
.sck {
	float: left;
	width: 580px;
	height: 60px;
	background-color: white;
	margin: 10px 0 0 70px;
	position: relative;
}

.sck>input {
	width: 546px;
	height: 32px;
	padding-left: 10px;
}

.sck_z {
	margin: 5px 0 0 0;
}

.sck>p>a {
	margin: 0 2px;
}

.sck>p>a:nth-child(1) {
	font-weight: 550;
	color: red;
}

.sck>button {
	width: 58px;
	height: 36px;
	background-color: red;
	border: 1px solid red;
	position: absolute;
	right: 20px;
	top: 0;

}

/* 搜索图标 */
#ss {
	font-size: 28px;
	line-height: 36px;
	color: white;
}


/* <!-- 购物车 --> */
.gwc {
	width: 132px;
	height: 36px;
	background-color: white;
	border: 1px solid #eee;
	float: left;
	position: relative;
	top: 10px;
}

.gwc>span {
	color: red;
}

/*  购物车图标 */
#gwc {
	font-size: 20px;
	color: red;
	line-height: 36px;
	margin: 0 10px 0 15px;
}

/*购物车"0"*/
.xiao {
	position: absolute;
	top: 1px;
	left: 29px;
	right: auto;
	display: inline-block;
	padding: 1px 4px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #e1251b;
	border-radius: 7px;
	text-align: center;
}

/* <!-- 购物车右边的广告 --> */
.guanggao {
	float: right;
}

/* <!-- 秒杀  优惠券等等 --> */
.miaosha {
	width: 800px;
	height: 40px;
	font-weight: 700;
	float: left;
	margin: 20px 0 0 0;
}

.miaosha>a {
	float: left;
	position: relative;
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
	color: #333;
	margin: 0 8px;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
}

.miaosha>a:hover {
	color: #c81623;
}

.miaosha>a:nth-child(1) {
	font-weight: bold;
	color: red;
}

.miaosha>a:nth-child(1):hover {
	color: #c81623;
}

.miaosha>a:nth-child(2) {
	font-weight: 2000;
	color: red;
}

.miaosha>a:nth-child(2):hover {
	color: #c81623;
}

/* 导航3 -------------------------------------------------------------------*/
/* 八呢儿图 */
.dh3 {
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;

}

.dh3>img {
	position: absolute;
	left: 50.8%;
	margin-left: -960px;

}

/* 导航3内容 */
.dh3_m {
	width: 1190px;
	height: 480px;
	margin: 0 auto;
	z-index: 666;
	position: relative;
}

/* 导航3左面导航内容 */
.dh3_m_l {
	width: 190px;
	height: 100%;
	float: left;
	background-color: white;
	position: absolute;
	position: relative;
}

.dh3_m_l>ul>li {
	width: 182px;
	height: 25px;
	line-height: 25px;
	padding-left: 8px;
}

.dh3_m_l>ul>li>a {
	text-decoration: none;
	margin: 0 2.5px;
	font-size: 14px;
	color: #333;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
	font-weight: 500;
}

.dh3_m_l>ul>li>a:hover {
	color: #c81623;
}

.dh3_m_l>ul>li:hover {
	background-color: #CCCCCC;
}

/* <!-- 导航3的二级菜单 --> */
.dh3_m_l>ul:hover .dh3_lx {
	display: block;
}

.dh3_lx {
	width: 989px;
	height: 457px;
	padding-left: 20px;
	padding-top: 20px;
	position: absolute;
	z-index: 665;
	background-color: white;
	left: 192px;
	top: 0;
	border: 1px solid #f7f7f7;
	-webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
	box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
	-webkit-transition: top .25s ease;
	transition: top .25s ease;
	display: none;
}

.dh3_lx_t>button {
	padding: 5px 10px;
	border: 0;
	background-color: #000000;
	color: white;
	margin: 0 0 0 3px;
	-webkit-transition: background .3s ease, color .3s ease;
	transition: background .3s ease, color .3s ease;
}

.dh3_lx_t>button:hover {
	background-color: rgb(225, 37, 27);
}

.dh3_lx>ul>li {
	margin: 10px 0 10px 0;
	width: 900px;
	float: left;
}

.dh3_lx_m_l {
	float: left;
	display: inline-block;
	width: 70px;
	text-align: right;
	font-weight: 800;
	margin: 0 5px 0 0;
}

.dh3_lx_m_l2 {
	float: left;
	display: inline-block;
	margin: 0 0 0 10px;
	width: 700px;
}

.dh3_lx_m_l2>a {
	margin: 0 5px;
	font-size: 12px;
	color: #999;
}

.dh3_lx_m_l2>a:hover {
	color: red;
}

.dh3_lx_b {
	width: 190px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.dh3_lx_b_t {
	width: 180px;
	height: 132px;
	padding-left: 10px;
	padding-top: 10px;
	background-color: white;
}

.dh3_lx_b_t2 {
	padding-left: 10px;
}

/* <!-- 轮播图 --> */
.lunbotu {
	width: 790px;
	height: 480px;
	position: absolute;
	left: 200px;
}

.lunbotu1 {
	position: relative;
}

.lunbotu1>li>img {
	width: 590px;
	height: 480px;
	display: none;
	position: absolute;
}

.lunbotu1>li:nth-child(1)>img {
	display: block;
}

.left {
	width: 30px;
	height: 50px;
	background-color: white;
	opacity: 0.6;
	position: absolute;
	left: 0;
	top: 50%;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
}

.right {
	width: 30px;
	height: 50px;
	background-color: white;
	opacity: 0.6;
	position: absolute;
	left: 560px;
	top: 50%;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
}

.dian {
	position: absolute;
	left: 30px;
	top: 450px;
}

.dian>li {
	float: left;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #fff;
	margin: 0 2px;
}

/* <!-- 轮播图右 --> */
.lunbotu_r {
	width: 190px;
	height: 100%;
	position: absolute;
	right: 200px;
}

.lunbotu_r1 {
	width: 190px;
	height: 150px;
	margin: 0 0;
}

.lunbotu_r1>img {
	width: 100%;
	height: 100%;
}

.lunbotu_r2 {
	margin: 14px 0 0 0;
}

/* <!-- 轮播图右右 --> */
.lunbotu_rr {
	width: 190px;
	height: 100%;
	background-color: white;
	position: absolute;
	right: 0;
}

.lunbotu_rr_t {
	width: 170px;
	height: 92px;
	padding-top: 10px;
	padding-left: 20px;
}

/* 头像 */
.index {
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}

.index>img {
	width: 40px;
	height: 40px;
}

/* 头像右 */
.lunbotu_rr_tz {
	width: 70%;
	height: 50%;
	float: left;
	margin: 0 0 0 5px;
}

.lunbotu_rr_tz>p {
	margin: 0 0 0 10px;
}

.lunbotu_rr_tz>p>a {
	color: #7d7d7d;
	-webkit-transition: color .1s ease;
	transition: color .1s ease;
}

.lunbotu_rr_tz>p>a:hover {
	color: #c81623;
}

.lunbotu_rr_tz>p>span>a:hover {
	color: red;
}

/* <!-- 新人福利  PLUS会员 --> */
.xrfl>button:nth-child(1) {
	display: inline-block;
	margin: 0 5px;
	width: 70px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	border-radius: 13px;
	background: #e1251b;
	background-color: rgb(225, 37, 27);
	-webkit-transition: background .3s ease, color .3s ease;
	transition: background .3s ease, color .3s ease;
	border: 0;
}

.xrfl>button:nth-child(1),
.xrfl>button:nth-child(2):hover {
	background-color: #c81623;
	color: #fff;
}

.xrfl>button:nth-child(2) {
	display: inline-block;
	margin: 0 5px;
	width: 70px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	text-align: center;
	border-radius: 13px;
	background: #363634;
	background-color: rgb(54, 54, 52);
	color: #e5d790;
	-webkit-transition: background .3s ease, color .3s ease;
	transition: background .3s ease, color .3s ease;
	border: 0;
}

.xrfl_x {
	width: 70%;
	height: 1px;
	background-color: #dadada;
	margin: 10px 0 0 20px;
}

/* <!-- 京东快报 --> */
.jdkb {
	width: 180px;
	height: 130px;
	padding-left: 10px;
}

.jdkb_t {
	width: 180px;
	height: 30px;
	line-height: 30px;
}

.jdkb_t>span:nth-child(2) {
	margin: 0 0 0 70px;
	font-size: 12px;
	color: #999;
}

.jdkb_t>span:nth-child(2)>a {
	font-size: 12px;
	color: #999;
}

.jdkb_t>span:nth-child(2)>a:hover {
	color: #c81623;
}

.jdkb_t>span:nth-child(1) {
	font-weight: 600;
}

.jdkb>ul>li>span:nth-child(1) {
	display: inline-block;
	width: 35px;
	height: 15px;
	margin: 0 5px 0 0;
	text-align: center;
	color: #e1251b;
	background-color: rgba(225, 37, 27, .08);
	padding: 1px 0;
	line-height: 15px;
}

.jdkb>ul>li>span:nth-child(2) {
	width: 100px;
	height: 24px;

}

.jdkb>ul {
	margin: 5px 0;
}

/* <!--  轮播图右右最下面--> */
.hf {
	width: 180px;
	height: 240px;
}

.xiaotu {
	width: 60px;
	height: 55px;
	padding-top: 5px;
	float: left;
	text-align: center;
}

.xiaotu>img {
	width: 28px;
	height: 28px;
}

.xiaotu:hover {
	color: red;
}


/* 第一 -------------------------------------------------------------------*/

.diyi {
	width: 100%;
	min-width: 1190px;
}

/* <!-- 秒杀倒计时 --> */
.diyi_m {
	width: 1190px;
	height: 260px;
	margin: 20px auto;
	background-color: white;
	overflow: hidden;

}

.diyi_m_l {
	width: 190px;
	height: 260px;
	background-image: url(../img/秒杀1.png);
	float: left;
	text-align: center;
	color: white;
}

.diyi_m_l>p:nth-child(1) {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	margin-top: 31px;
}

.diyi_m_l>p:nth-child(2) {
	margin-top: 90px;
	font-size: 14px;
	text-align: center;
}

.diyi_m_l>p:nth-child(2)>span {
	font-size: 18px;
	padding-right: 2px;
	vertical-align: middle;
	display: inline-block;
	margin-top: -1px;
}

.diyi_m_l>p:nth-child(3) {
	margin: 15px 0 0 30px;
}

.diyi_m_l>p:nth-child(3)>span {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background-color: #2f3430;
	margin-right: 20px;
	font-size: 20px;
	font-weight: bold;
}

e {
	font-size: 20px;
	display: inline-block;
	float: left;
	width: 3px;
	margin: 0 10px 0 -10px;
}

/* <!-- 物品 --> */
.diyi_m_m1 {
	width: 200px;
	height: 260px;
	float: left;
	text-align: center;
	border-right: 1px solid #F2F2F2;
}

.diyi_m_m1t>img {
	width: 140px;
	height: 140px;
	margin: 30px 0 0 0;
	transition: opacity .2s linear;
}

.diyi_m_m1:hover .diyi_m_m1t>img {
	opacity: 0.8;
}

.diyi_m_m1f {
	width: 160px;
	height: 24px;
	margin: 20px auto;
	background-image: url(../img/diyijiage.png);
}

.diyi_m_m1f>span:nth-child(1) {
	margin: 10px 0 0 0;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	height: 24px;
	width: 90px;
}

.diyi_m_m1f>span:nth-child(2) {
	height: 24px;
	color: #999;
	margin: 0 0 0 10px;
	text-decoration: line-through;
}

/* <!-- 倒计时的最右面 --> */
.diyi_m_r {
	width: 180px;
	height: 240px;
	float: left;
}

.diyi_m_rt {
	width: 120px;
	height: 120px;
	margin: 30px;
	text-align: center;
}

/* <!-- 倒计时的最右面 字的背景颜色--> */
.dianshiyanse {
	margin: 0 0 0 -20px;
	width: 180px;
	height: 90px;
	background: linear-gradient(180deg,
		rgba(255, 255, 255, .5), rgba(220, 224, 236, .5));
}

.dianshi {
	color: #666;
}

.dianshi1 {
	color: #000000;
	font-weight: 700;

}

.diyi_m_rt button {
	margin: 5px 0 0 0;
	width: 82px;
	height: 24px;
	border: 1px solid #e1251b;
	border-radius: 15px;
	color: red;
	font-size: 13px;
	font-weight: 700;
	background-color: white;
	-webkit-transition: background .3s ease, color .3s ease;
	transition: background .3s ease, color .3s ease;
}

.diyi_m_rt button:hover {
	background-color: #e1251b;
	color: white;
}





/* <!-- 第二超值年过 ------------------------------------------> */

.dier {
	width: 100%;
	min-width: 1190px;
	margin: 0 auto;
}

.cznh {
	width: 1190px;
	height: 600px;
	margin: 0 auto;
	background-image: url(../img/disan1.webp);
	background-repeat: no-repeat;
	background-size: 1200px 600px;
}

/* <!-- 超值年货左面10个商品 --> */
.cznh_l {
	width: 1000px;
	height: 440px;
	margin: 140px 0 0 35px;
	float: left;
}

.cznh_l1 {
	width: 180px;
	height: 210px;
	float: left;
	margin: 0 12px 10px 0;
}

.cznh_l1>img {
	width: 180px;
	height: 210px;
}

/*  超值年货右面4个广告--> */
.cznh_r {
	float: left;
	width: 170px;
	margin: 130px 0 0 -40px;
}

.cznh_r1 {
	width: 170px;
	height: 100px;
	margin: 10px 0 0 0;
}

.cznh_r1>img {
	width: 170px;
	height: 100px;
}



/* <!-- 第三 排行榜和品牌闪购--------------------------------------------> */
.disan {
	width: 1190px;
	height: 340px;
	margin: 20px auto;
	overflow: hidden;
}

/* <!-- 排行榜 --> */
.disan_l {
	width: 580px;
	height: 340px;
	float: left;
	padding-left: 10px;
	background-color: white;

}

/* <!-- 排行榜 上--> */
.disan_l_t {
	width: 580px;
	height: 60px;
	float: left;
	line-height: 60px;
}

.disan_l_t>span:nth-child(1) {
	font-weight: 700;
	font-size: 24px;
	color: #333;
	line-height: 32px;
}

.disan_l_t>span:nth-child(2) {
	float: right;
}

.disan_l_t>span:nth-child(2)>a {
	margin: 0 10px;
	color: #666;
}

/* <!-- 排行榜 中--> */

.disan_l_m {
	width: 580px;
	height: 260px;
	margin: 10px 0 0 0;
	float: left;

}

.disan_l_m_l {
	width: 270px;
	height: 260px;
	float: left;
	text-align: center;
	background-color: white;
}

.disan_l_m_l1 {
	width: 270px;
	height: 180px;
	text-align: center;
	background-color: rgba(109, 126, 146, .05);
}

.remai {
	width: 50px;
	height: 50px;
	float: left;
	margin: 0 0 0 30px;
	background-color: #aa0000;
	color: white;
	text-align: center;
}

.remai>p:nth-child(1) {
	font-size: 20px;
	font-weight: bold;

}

.remai>p:nth-child(2) {
	margin: 3px 0 0 0;
}

.remaitu {
	width: 100px;
	height: 100px;
	float: left;
	margin: 20px 0 0 10px;
}

.disan_l_m_l1>p {
	width: 200px;
	margin: 5px 0 0 35px;
	line-height: 20px;
	float: left;
}

.sige {
	width: 134px;
	height: 40px;
	margin: 2px 2px 0 0;
	background-color: rgba(109, 126, 146, .05);
	float: left;
	line-height: 40px;
	font-size: 14px;
	font-weight: 700;
}

.sige1 {
	margin: 2px 0 0 0;
}

.sige:hover {
	color: red;
}


.disan_l_m_r {
	width: 270px;
	height: 260px;
	float: left;
	padding-left: 10px;
}

.disan_l_m_r1 {
	width: 260px;
	height: 70px;
	margin-top: 12px;
}

.disan_l_m_r1_l {
	width: 30px;
	height: 40px;
	background-color: red;
	float: left;
	margin: 20px 0 0 0;
	font-weight: 700;
	text-align: center;
}

.disan_l_m_r1_l p {
	font-size: 15px;
}

.disan_l_m_r1_z {
	width: 70px;
	height: 70px;
	float: left;
	margin: 0 0 0 5px;
}

.disan_l_m_r1_r {
	float: left;
	width: 150px;
	font-size: 12px;
	margin: 20px 0 0 5px;
}

.disan_l_m_r1_l1 {
	background-color: #bac83d;
}

.disan_l_m_r1_l2 {
	background-color: #dcd9d3;
}

/* <!-- 品牌闪购 --> */
.ppsg {
	width: 570px;
	height: 340px;
	background-color: white;
	float: right;
	padding-left: 10px;
}

.ppsg_t {
	width: 580px;
	height: 60px;
	float: left;
	line-height: 60px;
}

.ppsg_t>span:nth-child(1) {
	font-weight: 700;
	font-size: 24px;
	color: #333;
	line-height: 32px;
}

.ppsg_l {
	width: 270px;
	height: 270px;
	background-color: #fbf9f5;
	text-align: center;
	float: left;
}

.zdf>img {
	width: 150px;
	height: 150px;
	margin: 10px 0 10px 0;
}

.ppsg_lz>p:nth-child(1) {
	font-size: 15px;
	font-weight: 700;
	margin: 5px;
}

.ppsg_r {
	width: 272px;
	float: right;
}

.ppsg_r1 {
	width: 135px;
	height: 100px;
	float: left;
}

.ppsg_r1>img {
	width: 100px;
	height: 49px;
}

.ppsg_r1>p {
	margin: 5px 0 0 0;
}

/* <!-- 第四发现好货 --------------------------------------------------------> */
.disi {
	width: 100%;
	min-width: 1190px;
	height: 260px;
}

.fxhh {
	width: 1190px;
	height: 260px;
	margin: 0 auto;
}

/* <!-- 发现好货有左边 --> */
.fxhh_l {
	width: 190px;
	height: 260px;
	background-color: red;
	float: left;
	position: relative;
}

.fxhh_l>div {
	position: absolute;
	top: 20px;
	left: 20px;
}

.fxhh_lz {
	color: rgba(255, 255, 255, .8);
	font-size: 16px;
	position: absolute;
	top: 60px;
	left: 35px;
}

/* <!-- c3动画 --> */

.donghua {
	width: 1000px;
	height: 260px;
	background-color: white;
	float: right;
	overflow: hidden;
	position: relative;
}

.donghua_m {
	width: 200%;
	height: 260px;
	background-color: white;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
}

.donghua_mm {
	width: 200%;
	height: 260px;
	background-color: white;
	position: absolute;
	top: 0;
	left: 200%;
}

.donghua_m1 {
	width: 150px;
	height: 181px;
	margin-right: 50px;
	margin-top: 30px;
	float: left;
}

.donghua_m1:hover {
	color: red;

}

.donghua_m1:hover .donghua_m1_t>img {
	opacity: 0.8;
}

.donghua_m2:hover {
	color: red;

}

.donghua_m2:hover .donghua_m2_t>img {
	opacity: 0.8;
}

.donghua_m2 {
	width: 150px;
	height: 181px;
	margin-right: 50px;
	margin-top: 70px;
	float: left;
}

.donghua_m2_t>p {
	display: block;
	height: 30PX;
	line-height: 30px;
	text-align: center;
}

.donghua_m1_t>p {
	display: block;
	height: 30PX;
	line-height: 30px;
	text-align: center;
}

.donghua_m2_f {
	margin-right: 0;
}

/* <!-- 第五 领券中心 逛好店 发现 新品首发-------------------------------------------------- --> */
.diwu {
	width: 100%;
	min-width: 1190px;
}

/* <!-- 标题 --> */
.pdgc {
	width: 100%;
	height: 45px;
	text-align: center;


}

h3 {
	line-height: 45px;
	font-size: 28px;
	font-weight: 700;
	padding: 0 30px;
	margin: 10px auto 20px;
	overflow: hidden;
	color: #333;
}

.lqzx {
	width: 1190px;
	height: 340px;
	margin: 5px auto;
}

/* <!-- 领券中心 --> */
.lqzx1 {
	width: 290px;
	height: 340px;
	float: left;
	margin: 0 10px 0 0;
}

.lqzx1>img {
	width: 290px;
	height: 340px;
	overflow: hidden;
}

.lqzx2 {
	float: right;
	margin: 0 0 0 0;
}

.lqzx3_s {
	width: 290px;
	height: 170px;
	background-color: white;
}

.lqzx3_x {
	margin: 8px 0 0 0;
	width: 290px;
	height: 162px;
	background-color: white;
}

.lqzx1_t {
	width: 250px;
	height: 30px;
	margin-left: 30px;
	margin-right: 10px;
	padding-top: 17px;
	padding-bottom: 13px;
	line-height: 30px;
}

.lqzx1_t>span:nth-child(1) {
	font-size: 22px;
	font-weight: 700;
	color: #333;
}

.lqzx1_t>span:nth-child(2) {
	font-size: 14px;
	color: #999;
	margin-left: 5px;
}

.lqzx1_m>div {
	float: left;

}

.lqzx1_m>div:nth-child(1) {
	margin: 0 30px 0 30px;
}

.lqzx1_m>div>img {
	width: 100px;
	height: 100px;
}


/* <!-- 第五  领券中心  逛好店  发现  新品首发 --> */

.diliu {
	width: 1190px;
	height: 340px;
	margin: 20px auto;
}

/* 领券中心 */
.diliu_l_t {
	width: 270px;
	height: 60px;
	padding-left: 20px;
	line-height: 60px;
	font-weight: 700;
	font-size: 24px;
	color: #333;
}

.diliu_one {
	width: 290px;
	height: 280px;
	background: url(../img/6001.png) no-repeat 0 10px;
}

.diliu_l {
	width: 290px;
	height: 340px;
	background-color: white;
	float: left;
	margin: 0 10px 0 0;
	overflow: hidden;
}

.diliu_f {
	margin: 0 0 0 0;
}

.one_l {
	width: 260px;
	height: 82px;
	margin: 15px 0 0 15px;
	float: left;
}

.one_2,
.one_3 {
	width: 260px;
	height: 82px;
	margin: 3px 0 0 15px;
	float: left;
}

.one_l_l {
	background-color: white;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	margin: 8px 0 0 0;
	float: left;
}

.one_l_l>img {
	width: 50px;
	height: 50px;
	margin: 7px 0 0 0;
}

.cznh_one_l_m {
	float: left;
}

.cznh_one_l_m>ul>li {
	width: 160px;
	text-align: left;
}

.cznh_one_l_m>ul {
	float: left;
}

.cznh_one_l_m>div {
	float: right;
	width: 10px;
}

.cznh_one_l_m>ul>li:nth-child(1) {
	color: red;
}

.cznh_one_l_m>ul>li>span:nth-child(1) {
	font-size: 28px;
	margin-right: 3px;
	font-weight: bold;
}

.cznh_one_l_m>ul>li:nth-child(2) {
	color: #999;
}

/* 逛好店 */
.ghd {
	width: 260px;
	height: 124px;
	margin: 10px 0 0 20px;
	float: left;
	background-color: #f6eff3;
}

.ghd_l>ul {
	margin: 20px 0 0 20px;
	float: left;
}

.ghd_l>ul>li {
	width: 120px;
	margin: 2px 0 0 0;

}

.ghd_l>ul>li:nth-child(1) {
	font-size: 14px;
}

.ghd_l>ul>li:nth-child(2)>span:nth-child(1) {
	display: inline-block;
	border-radius: 5px;
	padding: 1px 2px;
	border: 1px solid #e2231a;
	color: red;
}

.ghd_l>ul>li:nth-child(2)>span:nth-child(2) {
	display: inline-block;
	padding: 1px 2px;
	border: 1px solid #596fab;
	color: #596fab;
	border-radius: 5px;
}

.ghd_l>ul>li:nth-child(3) {
	color: #999;
	margin: 10px 0 0 0;
}

.ghd_t {
	width: 100px;
	height: 100px;
	float: right;
	background-color: white;
	margin: 15px 10px 0 0;
}

.ghd_t>img {
	width: 90px;
	height: 90px;
	margin: 5px;
}

/* 发现 */
.fx {
	width: 260px;
	height: 251px;
	margin: 10px 0 0 15px;
	/* background-color: red; */
}

.fx_t {
	width: 260px;
	height: 173px;
	/* background-color: yellow; */
}

.fx_z {
	width: 260px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.fx:hover .fx_t>img {
	opacity: 0.9;
}

/* <!-- 新品首发 --> */
.xpsf_t {
	width: 260px;
	height: 160px;
	margin: 10px 0 0 15px;
	background-color: #f8f3f6;
}

.xpsf_t_l {
	width: 110px;
	height: 110px;
	float: left;
}

.xpsf_t_l>ul {
	margin: 30px 0 0 15px;
}

.xpsf_t_l>ul>li {
	width: 110px;
}

.xpsf_t_l>ul>li:nth-child(1) {
	width: 30px;
	padding: 1px 2px;
	border: 1px solid #c81623;
	color: #c81623;
	border-radius: 5px;
}

.xpsf_t_l>ul>li:nth-child(2) {
	font-size: 15px;
	font-weight: 400;
}

.xpsf_t_l>ul>li:nth-child(3) {
	margin: 20px 0 0 0;
}

.xpsf_t_r {
	width: 110px;
	height: 110px;
	float: right;
	background-color: white;
	margin: 30px 15px 0 0;
}

.xpsf_t_r>img {
	margin: 5px;
}

.xpfx_f {
	width: 260px;
	height: 80px;
	float: left;
	margin: 30px 0 0 0;
}

.xpfx_f>img {
	margin: 1px 4px;
}

/* <!-- 频道广场 下 --> */

.pdgcx {
	width: 1190px;
	margin: 0 auto;
}

/* 高度塌陷解决 */
.pdgcx:after {
	content: "";
	height: 0;
	clear: both;
	overflow: hidden;
	display: block;
	visibility: hidden;
}

.pdgcx_one {
	width: 290px;
	height: 180px;
	background-color: white;
	float: left;
	margin: 10px 10px 0 0;
}

.pdgcx_one1 {
	margin-right: 0;
}



/* <!-- 第七 为你推荐 --> */

.diqi {
	width: 1190px;
	margin: 0 auto;
}

.diqi_t {
	height: 45px;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	line-height: 45px;
	padding: 0 30px;
	margin: 20px auto 20px;
	color: #333;

}

.diqi:after {
	content: "";
	height: 0;
	clear: both;
	overflow: hidden;
	display: block;
	visibility: hidden;
}

.diqi_t2 {
	width: 1190px;
	height: 60px;
	background-color: white;
}

.diqi_t2_1 {
	width: 180px;
	height: 60px;
	text-align: center;
	float: left;
	padding-left: 40px;
	cursor: pointer;
}

.diqi_t2_1>p:nth-child(1) {
	background: #e1251b;
	color: #fff;
	width: 70px;
	height: 27px;
	border-radius: 50px;
	padding: 0 5px;
	font-size: 15px;
	line-height: 27px;
	color: white;
	font-weight: 700;
	margin: 10px 0 0 60px;
}

.diqi_t2_1>p:nth-child(2) {
	color: #e1251b;
	margin: 5px 0 0 20px;
	font-weight: 700;
}

.diqix {
	width: 1px;
	height: 40px;
	background-color: #dfdfdf;
	background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(51%, #dfdfdf), to(white));
	background: linear-gradient(180deg, white, #dfdfdf 51%, white);
	float: left;
	margin: 10px 0;
}

.diqi_t2_2 {
	width: 180px;
	height: 60px;
	float: left;
	text-align: center;
}

.diqi_t2_2>p:nth-child(1) {
	font-size: 16px;
	font-weight: 700;
	line-height: 27px;
	color: #333;
	margin: 10px 0 0 0;
	cursor: pointer;
}

.diqi_t2_2>p:nth-child(2) {
	color: #999;
	margin: 5px 0 0 0;

}

.diqi_t2_2:hover .diqi_t2_21 {
	color: #c81623;
}

/* 为你推荐内容 */
.wntj_m {
	width: 1190px;

}

.wntj_m1 {
	float: left;
	width: 230px;
	height: 322px;
	background-color: white;
	margin-top: 10px;
	margin-right: 10px;
	cursor: pointer;
	overflow: hidden;
}

.wntj_m2 {
	margin: 10px 0 0 0;
}

.wntj_m1_t {
	width: 150px;
	height: 150px;
	background-color: red;
	margin: 40px auto;
}

.wntj_m1_t>img {
	width: 150px;
	height: 150px;
}

.wntj_m1>p {
	width: 190px;
	margin: 10px 0 0 20px;

}

.wntj_m1>p:nth-child(2) {
	font-size: 14px;
	color: #666;
}

.wntj_m1>p:nth-child(3) {
	width: 210px;
}

.hong {
	line-height: 18px;
	color: #e1251b;
	font-size: 20px;
	font-weight: 700;
}

.quan {
	font-size: 10px;
	padding: 0px 5px;
	border: 1px solid #e1251b;
	color: #e1251b;
	margin: 0 0 0 55px;
}


/* <!-- 尾部 --> */
.weibu {
	width: 1190px;
	margin: 100px auto 20px;
}

/* <!-- 尾部上 多 快 好 省 --> */
.weibu_t {
	width: 1160px;
	height: 104px;
	padding-left: 20px;
}

.weibu_t1 {
	width: 225px;
	height: 42px;
	margin: 35px 0 0 50px;
	float: left;
}

.weibu_t1_t {
	width: 36px;
	height: 42px;
	float: left;
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: 0 -192px;
}

.weibu_t1>p {
	float: left;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 700;
	color: #444;
	margin: 0 0 0 10px;
}

.weibu_t2 {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -41px -192px;
}

.weibu_t3 {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -82px -192px;
}

.weibu_t4 {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -123px -192px;
}

/* <!-- 尾部中 --> */


.foot_m {
	width: 1190px;
	height: 200px;
	border-top: 1px solid #e1e1e1;
}

.foot_m>ul {
	width: 198px;
	height: 22px;
	float: left;
	margin: 20px 0 0 0;
	padding-top: 10px;

}

.foot_m>ul>p {
	font-size: 14px;
	font-weight: 700;
}

.foot_m>ul>li {
	height: 26px;
	line-height: 26px;
}

.foot_m>ul>li>a {
	color: #666;
}

.foot_m>ul>li>a:hover {
	color: #c81623;
}

.ckxq {
	float: right;
}

/* <!-- 尾部下 --> */

.foot_f {
	width: 100%;
	height: 265px;
	margin: 20px 0 0 0;
	border-top: 1px solid #e1e1e1;
}

.foot_f>ul>li {
	width: 1190px;
	text-align: center;
	height: 26px;
	line-height: 26px;
}

.foot_f>ul>li:nth-child(1)>a {
	color: #666;
	margin: 0 5px;
	font-size: 10px;
}

.foot_f>ul>li span {
	display: inline-block;
	margin: 0 5px;
}

.foot_f>ul>li a:hover {
	color: #c81623;
}

.zi a {
	color: #999;
}

.zi {
	color: #999;
	text-align: center;
}

.zi-t {
	margin: 30px 0 0 0;
}

.zi-t>span {
	display: inline-block;
	width: 103px;
	height: 32px;
	background-color: red;
	cursor: pointer;
}

.zi-t>span:nth-child(1) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px 0;
}

.zi-t>span:nth-child(2) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px -37px;
}

.zi-t>span:nth-child(3) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px -74px;
}

.zi-t>span:nth-child(4) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px -111px;
}

.zi-t>span:nth-child(5) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px -148px;
}




/* 补充为你推荐划过后效果 */

.wntj_m1 {
	position: relative;
}

.wntj_m1_h {
	width: 100%;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 252px;

	display: none;

}

.icon-eyeopen {
	color: white;
	margin: 0 5px 0 0px;
	font-size: 14px;
}

.wntj_m1_h>div>span {
	display: inline-block;
	height: 28px;
	width: 120px;
	display: inline-block;
	font-size: 12px;
	color: #353131;
	border: 1px solid#353131;
	border-top-color: rgb(53, 49, 49);
	border-right-color: rgb(53, 49, 49);
	border-bottom-color: rgb(53, 49, 49);
	border-left-color: rgb(53, 49, 49);
	border-radius: 15px;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
	margin: 15px 0 0 50px;
	background-color: #000000;
	color: white;

}

.wntj_m1_h>div>span:hover {
	background-color: #aa2504;
}

.wntj_m1:hover .wntj_m1_h {
	display: block;
	color: #fff;
	background: linear-gradient(180deg, rgba(255, 255, 255, .8) 0, white 35%, white);
}

.wntj_m1:hover .wntj_m1_t {
	opacity: 0.7;
}








