/* cursor: pointer; 鼠标表小手 */
* {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 13px;
}

a {
	text-decoration: none;
}

#tb {
	font-size: 15px;
}

.niubi {
	width: 100%;
	min-width: 1390px;
	background-color: #f2f2f2;
}

/* 导航 ----------------------------------------------------*/
.header {
	width: 100%;
	height: 30px;
	min-width: 1390px;
	background-color: #e3e4e5;
}

.header a {
	text-decoration: none;
	color: #999999;
}

/* 导航最小框 */
.h_m {
	width: 1390px;
	height: 30px;
	line-height: 30px;
	color: #999;
	margin: 0 auto;
}

/* 导航左定位 */
.h_ml {
	float: left;
	color: #999;

}

.h_ml>span {
	display: inline-block;
	padding: 0 10px;
}

.guangdong {
	position: relative;
}

.guangdong:hover {
	background-color: white;
}

#sy {
	font-size: 15px;
}

/* 定位下拉列表 */

.gd {
	width: 320px;
	height: 340px;
	position: absolute;
	background-color: white;
	top: 30px;
	left: -1px;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	display: none;
	z-index: 888;
}

.guangdong:hover .gd {
	display: block;
}

.gd>ul {
	float: left;
}

.diqu>li {
	width: 52px;
	height: 24px;
	margin: 6px;
	text-align: center;
	line-height: 24px;
}

.diqu li:hover {
	background-color: red;
	color: white;
	border-radius: 5px;
}

.dq {
	margin: 0 0 0 15px;
}

.gd_x {
	width: 290px;
	height: 1px;
	background-color: #F2F2F2;
	float: left;
	margin: 10px 0 10px 20px;
}

.yinwen li {
	width: 140px;
	background: no-repeat;
	margin: 0 0 0 10px;
}

.diqu1 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 3px;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 0 0;
}

.diqu2 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 20px 0;
}

.diqu3 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 40px 0;
}

.diqu4 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 0px 17px;
}

.diqu5 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: -20px 17px;
}



/* 导航右边 */
.h_mr {
	height: 30px;
	float: right;
}

.h_mr>span {
	margin: 0 5px;
	float: left;
}

.dl>a:nth-child(1) {
	color: #999;
	font-weight: 500;
}

.dl>a:nth-child(1):hover {
	color: red;
}

.dl>a:nth-child(2) {
	color: red;
}

/* 竖线 */
.dl_shu {
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: #ccc;

}

/* 我的京东 */
.wdjd {
	padding: 0 5px;
	position: relative;
}

.wdjd:hover {
	/* background-color: red; */
	background-color: white;
}

.wdjd>a:hover {
	color: red;
}

/* 我的京东下拉 */
.wdjd:hover .wdjd_m {
	display: block;
}

.wdjd_m {
	position: absolute;
	width: 270px;
	height: 164px;
	background-color: white;
	left: 0;
	display: none;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
}

.wdjd_m>ul {
	float: left;
}

.wdjd_m>ul>li {
	width: 120px;
	margin: 0 0 0 15px;
}

.wdjd_m>ul>li a:hover {
	color: red;
}

/* 京东会员 */
.jdhy a:hover {
	color: red;
}

/* 企业采购 */
.qycg {
	padding: 0 3px;
	position: relative;
}

.qycg:hover {
	background-color: white;
}

.qycg a:hover {
	color: red;
}

/* 企业采购下拉 */
.qycg_m {
	position: absolute;
	left: 0;
	width: 156px;
	height: 70px;
	background-color: white;
	display: none;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
}

.qycg:hover .qycg_m {
	display: block;
}

.qycg_m>ul {
	float: left;
}

.qycg_m>ul>li {
	width: 65px;
	margin: 2px 0 0 5px;
}

/* 客户服务 */
.khfw>a:hover {
	color: red;
}

.khfw {
	position: relative;
	padding: 0 3px;

}

.khfw:hover {
	background-color: white;
}

/* 客户服务下拉菜单 */
.khfw:hover .khfw_m {
	display: block;
}

.khfw_m {
	position: absolute;
	left: -113px;
	width: 171px;
	height: 248px;
	background-color: white;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	display: none;
}

.khfw_m>p {
	float: left;
	width: 160px;
	height: 20px;
	margin: 0 0 0 5px;
	font-weight: bold;
	color: #868686;
}

.khfw_m>ul {
	float: left;
}

.khfw_m>ul>li {
	width: 80px;
	margin: 0 0 0 5px;
}

/* 网站导航 */
.wzdh {
	position: relative;
	padding: 0 3px;

}

.wzdh:hover {
	background-color: white;
}

/* 网站导航下拉 */
.wzdh:hover .wzdh_m {
	display: block;
}

.wzdh_m {
	width: 1390px;
	height: 188px;
	background-color: white;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	display: none;
	position: absolute;
	left: -1252px;
}

/* <!-- 特色主题 --> */
.wzdh_m1 {
	width: 400px;
	height: 100%;
	margin: 0 0 0 20px;
	float: left;
}

.wzdh_m1>p {
	width: 100%;
	height: 24px;
	line-height: 24px;
	color: black;
	font-weight: 700;
	font-size: 15px;
	margin: 10px 5px 0 0;
	float: left;
}

.wzdh_m1>ul {
	float: left;
}

.wzdh_m1>ul>li {
	width: 100px;
	height: 27px;
}

.wzdh_m1>ul>li>a:hover {
	color: red;
}

/* <!-- 竖线 --> */
.wzdh_x {
	width: 1px;
	height: 80%;
	background-color: #d6d6d6;
	float: left;
	margin: 20px 0 0 0;
}

/* <!-- 行业频道   生活服务  更多精选--> */
.wzdh_m2 {
	width: 300px;
	height: 100%;
	/* background-color: red; */
	float: left;
	margin: 0 0 0 20px;
}

.wzdh_m2>p {
	width: 100%;
	height: 24px;
	line-height: 24px;
	color: black;
	font-weight: 700;
	font-size: 15px;
	margin: 10px 5px 0 0;
	float: left;
}

.wzdh_m2>ul {
	float: left;
}

.wzdh_m2>ul>li {
	width: 100px;
	height: 27px;
}

.wzdh_m2>ul>li>a:hover {
	color: red;
}

/* 手机京东 */
.sjjd {
	position: relative;
	padding: 0 3px;
}

.sjjd:hover {
	background-color: white;
}

.sjjd:hover .sjjd_m {
	display: block;
}

.sjjd_m {
	width: 190px;
	height: 300px;
	background-color: white;
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	left: -133px;
}

/* <!-- 第一个二维码 --> */
.sjjd_m1 {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ccc;
}

/* <!-- 二维码图 --> */
.sjjd_erweima {
	width: 70px;
	height: 70px;
	margin: 15px 0 0 10px;
	float: left;
	border: 1px solid #ccc;
}

.sjjd_erweima>img {
	width: 70px;
	height: 70px;
}

/*<!-- 二维码图右边的字 --> */
.sjjd_z {
	width: 96px;
	height: 70px;
	float: left;
	margin: 15px 0 0 0;
}

.sjjd_z>p:nth-child(1) {
	height: 17px;
	font-weight: 700;
	color: #686868;
	margin: -8px 0 0 5px;
}

.sjjd_z>p:nth-child(2) {
	margin: 10px 0 0 5px;
	color: red;
	line-height: 16px;
}

.sjjd_z>p>span {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: red;
}

.sjjd_z>p>span:nth-child(1) {
	background: url(../img/sprite_mobile@1x.png);
}

.sjjd_z>p>span:nth-child(3) {
	background: url(../img/sprite_mobile@1x.png);
	background-position: 0 25px;
}

.sjjd_z>p>span:nth-child(2) {
	background: url(../img/sprite_mobile@1x.png);
	background-position: 0 51px;
}










/* <!-- 导航2 -------------------------------------------------------> */
.daohang2 {
	width: 100%;
	background-color: white;
	min-width: 1390x;
	border-bottom: 1px solid #ddd;
}

.daohang2 a {
	text-decoration: none;
	color: #999999;
}

.dh2_m {
	width: 1390px;
	height: 130px;
	margin: 0 auto;
	padding-top: 10px;
	position:relative;
}

/* <!-- logo图 --> */
.dh2_logo {
	width: 275px;
	height: 42px;
	float: left;
}

.dh2_logo>img {
	width: 134px;
	height: 42px;
}

/* <!-- 搜索框 --> */
.sck {
	float: left;
	width: 700px;
	height: 60px;
	background-color: white;
	margin: 10px 0 0 70px;
	position: relative;
}

.sck>input {
	width: 626px;
	height: 32px;
	padding-left: 10px;
}

.sck_z {
	margin: 5px 0 0 0;
}

.sck>p>a {
	margin: 0 2px;
}

.sck_z>a:hover {
	color: red;
}


.sck>button {
	width: 85px;
	height: 36px;
	background-color: red;
	border: 1px solid red;
	position: absolute;
	right: 20px;
	top: 0;
	color: white;
}

/* 搜索图标 */
#ss {
	font-size: 28px;
	line-height: 36px;
	color: white;
}


/* <!-- 购物车 --> */
.gwc {
	width: 132px;
	height: 36px;
	background-color: white;
	border: 1px solid #eee;
	float: left;
	position: relative;
	top: 10px;
	left: 50px;
}

.gwc>span {
	color: red;
}

/*  购物车图标 */
#gwc {
	font-size: 20px;
	color: red;
	line-height: 36px;
	margin: 0 10px 0 15px;
}

/*购物车"0"*/
.xiao {
	position: absolute;
	top: 1px;
	left: 29px;
	right: auto;
	display: inline-block;
	padding: 1px 4px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #e1251b;
	border-radius: 7px;
	text-align: center;
}


/* <!-- 秒杀  优惠券等等 --> */
.miaosha {
	height: 40px;
	font-weight: 700;
	float: left;
	margin: 20px 0 0 0;
}

.qbspfl {
	height: 40px;
	width: 190px;
	background-color: #f30213;
	float: left;
	line-height: 40px;
	font-size: 14px;
	color: white;
	margin: 0 20px 0 0;
	position: absolute;
	left: 0;
	bottom: 0;
}

.qbspfl>p {
	width: 100%;
	text-align: center;
}

.miaosha>a {
	float: left;
	position: relative;
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	color: #333;
	margin: 0 20px;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;

}

.miaosha>a:hover {
	color: #c81623;
}

.miaosha>a:nth-child(1) {
	font-weight: bold;
	color: red;
}

.miaosha>a:hover {
	color: #c81623;
}

.miaosha>a:nth-child(1):hover {
	color: #c81623;
}

.miaosha>a:nth-child(2) {
	font-weight: 2000;
	color: red;
}

.miaosha>a:nth-child(2):hover {
	color: #c81623;
}


.qbspfl:hover .dh3_m_l {
	display: block;
}

.dh3_m_l {
	width: 190px;
	height: 480px;
	float: left;
	background-color: white;
	position: absolute;
	position: relative;
	box-shadow: -1px 3px 12px -1px rgba(0, 0, 0, .3);
	color: black;
	display: none;
	z-index: 888;
}

.dh3_m_l>ul>li {
	width: 182px;
	height: 25px;
	line-height: 25px;
	padding-left: 8px;
}

.dh3_m_l>ul>li>a {
	text-decoration: none;
	margin: 0 2.5px;
	font-size: 14px;
	color: #333;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
	font-weight: 500;
}

.dh3_m_l>ul>li>a:hover {
	color: #c81623;
}

.dh3_m_l>ul>li:hover {
	background-color: #CCCCCC;
}

/* <!-- 导航3的二级菜单 --> */
.dh3_m_l>ul:hover .dh3_lx {
	display: block;
}

.dh3_lx {
	width: 989px;
	height: 457px;
	padding-left: 20px;
	padding-top: 20px;
	position: absolute;
	z-index: 665;
	background-color: white;
	left: 192px;
	top: 0;
	border: 1px solid #f7f7f7;
	-webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
	box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
	-webkit-transition: top .25s ease;
	transition: top .25s ease;
	display: none;
}

.dh3_lx_t>button {
	padding: 5px 10px;
	border: 0;
	background-color: #7C7171;
	color: white;
	margin: 0 0 0 3px;
	-webkit-transition: background .3s ease, color .3s ease;
	transition: background .3s ease, color .3s ease;
}

.dh3_lx_t>button:hover {
	background-color: rgb(225, 37, 27);
}

.dh3_lx>ul>li {
	margin: 4px 0 4px 0;
	width: 900px;
	float: left;
}

.dh3_lx_m_l {
	float: left;
	display: inline-block;
	width: 70px;
	text-align: right;
	font-weight: 800;
	margin: 0 5px 0 0;
}

.dh3_lx_m_l2 {
	float: left;
	display: inline-block;
	margin: 0 0 0 10px;
	width: 700px;
}

.dh3_lx_m_l2>a {
	margin: 0 5px;
	font-size: 12px;
	color: #999;
}

.dh3_lx_m_l2>a:hover {
	color: red;
}

.dh3_lx_b {
	width: 190px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.dh3_lx_b_t {
	width: 180px;
	height: 132px;
	padding-left: 10px;
	padding-top: 10px;
	background-color: white;
}

.dh3_lx_b_t2 {
	padding-left: 10px;
}





/* <!-- 热卖推荐  第一个内容 -------------------------------------> */

.diyi {
	width: 1390px;
	height: 152px;
	background-color: #f1f1f1;
	margin: 15px auto;
}

/* <!-- 热卖推荐 左 --> */
.diyi_l {
	width: 80px;
	height: 100%;
	float: left;
	margin: 0 0 0 1px;
}

.diyi_l_t {
	float: left;
	width: 41px;
	height: 80px;
	background: url(../img/list.icons.other.png)no-repeat;
	margin: 0 0 0 25px;

}

.diyi_l_t>p {
	line-height: 22px;
	color: #f60;
	font-size: 14px;
	padding-left: 5px;
	font-weight: 700;
	margin: 15px 0 0 0;
}

/* <!-- 热卖推荐 中 --> */

.diyi_m {
	width: 1100px;
	height: 100%;
	float: left;
}

.diyi_m1 {
	width: 276px;
	height: 122px;
	background-color: white;
	float: left;
	margin: 15px 30px 0 20px;
	padding-left: 10px;
	cursor: pointer;
}

.diyi_m1_t {
	width: 100px;
	height: 100px;
	margin: 10px 0 0 0;
	float: left;
}

/* 文字 */
.diyi_m1>p:nth-child(2) {
	width: 152px;
	height: 26px;
	float: left;
	line-height: 26px;
	margin: 10px 0 0 5px;
}

.diyi_m1>p:nth-child(3) {
	float: left;
	margin: 30px 0 0 5px;
	color: #e4393c;
	font-weight: 700;
}

.diyi_m1>p:nth-child(4)>a {
	float: left;
	margin: 50px 0 0 -40px;
	line-height: 14px;
	height: 14px;
	border-radius: 2px;
	background: #F7F7F7;
	background-color: rgb(247, 247, 247);
	text-align: center;
	cursor: pointer;
	border: 1px solid #DDD;
	padding: 4px 13px 5px;
	color: #666;
}

/* 热卖推荐  右 */

.diyi_r {
	width: 200px;
	float: right;
	height: 100%;
}

.diyi_r li {
	width: 165px;
	height: 22px;
	overflow: hidden;
	line-height: 22px;
	margin-bottom: 5px;
	color: #666;
	cursor: pointer;
}

.diyi_r li:hover {
	color: red;
}

/* <!-- 手机通讯 -----------------------------------------------------> */

.sjtx {
	width: 1390px;
	height: 25px;
	margin: 0 auto;
}

.sjtx>ul>li {
	float: left;
	line-height: 25px;
	margin: 0 8px 0 0;
	position: relative;
	background-color: white;

}

.sjtx>ul>li:nth-child(1) {
	font-size: 18px;
	font-weight: 700;
	margin: 0 5px 0 0;
}

.sjtx>ul>li:nth-child(1):hover {
	color: #f30213;
}

.sj {
	width: 54px;
	height: 24px;
	border: 1px solid #ccc;
}

#xiangxia {
	font-size: 15px;
	color: #ccc;
	font-weight: 100;
	float: right;
	position: absolute;
	top: 3PX;
	left: 35PX;
}

.sj:hover #xiangxia {
	position: absolute;
	top: 0PX;
	left: 35PX;
	transform: rotate(180deg);
}

.sj:hover {
	height: 24px;
	border: 1px solid red;
	border-bottom: white 1px solid;
}

/* 手机下拉 */
.sjxl1 {
	width: 360px;
	height: 46px;
	position: absolute;
	left: -1px;
	top: 22px;
	border: 1px solid red;
	display: none;
	position: absolute;
	z-index: 1;
	background-color: white;
}

.sj:hover .sjxl1 {
	display: block;
}

.sjxl1>a {
	margin: 0 10px;
	line-height: 40px;
	color: #666;
}

.sjxl2 {
	height: 70px;
}

.sjxl2>a {
	line-height: 30px;
}

/* <!-- 手机商品筛选----------------------------------------------------------> */


.dier {
	width: 1390px;
	margin: 0 auto;
	padding-top: 10px;
}

.dier_t {
	width: 100%;
	border-bottom: 1px solid #DDD;
	background: #F1F1F1;
	line-height: 34px;
	height: 34px;
}

/* 商品筛选 */

.dier_t>p>span:nth-child(1) {
	color: #e4393c;
	margin-right: 5px;
	font-weight: 700;
}

.dier_t>p>span:nth-child(2) {
	line-height: 34px;
	font-weight: 700;
}

.g8761 {
	display: inline-block;
	line-height: 34px;
	margin: 0 0 0 20px;
}

/* 内容 */

.dier_m {
	width: 100%;
	height: 326px;
}

/* 品牌 */
.dier_m1 {
	width: 100%;
	height: 120px;
}

.dier_m1_l {
	width: 110px;
	height: 34px;
	padding-left: 10px;
	float: left;
	padding-top: 10px;
	cursor: pointer;
}

.dier_m1_r {
	float: left;
	width: 1140px;
	height: 109px;
	padding-top: 10px;
}

.dier_m1_r1 {
	border: 1px solid #ccc;
	height: 46px;
	width: 114px;
	line-height: 48px;
	text-align: center;
	position: relative;
	background-color: white;
	float: left;
	margin: -1px 0 0 -1px;
	position: relative;
	cursor: pointer;
}

.dier_m1_r1:hover .tupian{
	display: none;
}

.dier_m1_r1>img{
	height: 36px;
	width: 102px;
	margin: 5px 0 0 0;
	position: absolute;
	left: 5px;
}
.dier_m1_r1:hover .bianse{
	color: #e4393c;
}
.xianshis{
	height: 46px;
	width: 114px;
	line-height: 48px;
	text-align: center;
	position: absolute;
	top:-1px;
	left: -2px;
	border-top: 2px solid #e4393c;
	border-left: 2px solid #e4393c;
	border-bottom: 2px solid #e4393c;
	border-right: 1px solid #e4393c;
	box-shadow: #CCCCCC 1px 2px 2px;
	display: none;
	z-index: 888;
}
.dier_m1_r1:hover .xianshis{
	display: block;
}
.hanzi{
	text-align: center;
	line-height: 48px;
}

/* 价格 */
.dier_m2{
	width: 1386px;
	height: 30px;
	padding: 0 2px;
	line-height: 30px;
	border: dashed 1px #eee;
}
.dier_m2_l{
	width: 100px;
	height: 30px;
	text-align: left;
	float: left;
	color: #999;
	padding-left: 10px;
}

.dier_m2_r{
	width: 1140px;
	height: 30px;
}
.dier_m2_r>span{
	margin: 0 20px;
}
.dier_m2_r>span>a{
	color: #878787;
}
.dier_m2_r>span>a:hover{
	color: red;
}
.dier_m2_r input{
	width: 40px;
	height: 15px;
}
.dier_m2_r button{
	height: 20px;
	padding: 0 5px;
	margin: 3px 0 0 10px;
	cursor: pointer;
	color:#666;
}
/* 第三---------------------------------------------------------- */
.body_m{
	width: 1390px;
	background-color: white;
	margin: 0 auto;
}
			/* <!-- 达人选购 --> */
.body_m_l{
	width: 190px;
	padding: 0 10px;
	float: left;
	border:1px solid #ddd
	
}
.body_m_l_t{
	width: 100%;
	height: 36px;
	font-weight: 700;
	font-size: 15px;
	line-height: 36px;
}

.body_m_l_m{
	width: 100%;
	height: 256px;
	text-align: center;
	padding: 10px 0 0 0;
	cursor: pointer;
}
.body_m_l_m>img{
	width: 190px;
	height: 190px;
}
.body_m_l_m>p:nth-child(2){
	text-align: left;
	margin: 0 0 5px 0;
	color: red;
}

.body_m_l_m>p:nth-child(3):hover{
	color: red;
}

.body_m_l_mf{
	padding: 10px 0 0 0;
	width: 210px;
	height: 256px;
	float: left;
}
.body_m_l_mf>img{
	width: 212px;
	height: 264px;
}
/* 右边内容 */
.body_m_r{
	float: left;
	width: 1150px;
	padding-left: 10px;
}
/* 右边上两行 */
.body_m_r_t{
	width: 1170px;
	height: 78px;
}
.body_m_r_t1{
	width: 1160px;
	padding-left: 10px;
	height: 31px;
	background-color: #F1F1F1;
	border-bottom: 1px solid #E7E3E7;
	padding-top: 7px;
}
.body_m_r_t1>span{
	display: inline-block;
	padding:0 10px;
	border: 1px solid #CCC;
	line-height: 23px;
	height: 23px;
	margin: 0 0 0 -4px;
	cursor: pointer;
}
.body_m_r_t1>span:nth-child(1){
	background-color: #e4393c;
	color: white;
}
.body_m_r_t1>span:hover{
	border: 1px solid #e4393c;
	color: #e4393c;
}
.body_m_r_t1>span:nth-child(1):hover{
	color: white;
}
.body_m_r_t1 button{
	width: 48px;
	height: 25px;
	border: 0;
	background-color: #F1F1F1;
	border: 1px solid #999;
}
.youbian{
	float: right;
}
.body_m_r_t2{
	width: 1160px;
	padding-left: 10px;
	background-color: #F9F9F9;
	border-bottom: 1px solid #E7E3E7;
	height: 28px;
	padding-top: 10px;
	position: relative;
}
.body_m_r_t2>span:nth-child(2){
	display: inline-block;
	width: 135px;
	padding: 3px 10px ;
	border: 1px solid #ccc;
	position: relative;
	z-index: 999;
	background-color: white;
}
.body_m_r_t2>span:nth-child(2):hover{
	border-bottom: none;
}
.dingweixianshi{
	display: none;
	width:486px;
	height: 130px;
	border: 1px solid #ccc;
	position: absolute;
	left: 53px;
	top: 33px;
	z-index: 6;
	background-color: white;
	box-shadow: 1px 1px 1px #ccc;
}
.dingweixianshi>ul>li>a{
	display: inline-block;
	width: 100px;
	line-height: 35px;
	height: 35px;
	text-align: center;
}
.dingweixianshi>ul>li>a:hover{
	color: red;
}
.icon-xiangxia{
	margin: 0 0 0 10px;
	color: #868686;
}
/* 主图 */
.yiceng{
	float: left;
	width: 1170px;
	margin: 15px 0 0 0;
}


.body_m_r_1{
	float: left;
	width: 220px;
	height: 434px;
	border: 1px solid white;
	transition: border-color .1s ease;
	padding-top: 10px;
	padding-right: 8px;
	position: relative;
}
.body_m_r_1:hover{
	border: 1px solid #E9E9E9;
	box-shadow: 0px 0px 2px 2px #f8f8f8;
	
}
.datu{
	width: 220px;
	height: 220px;
	padding-left: 3px;
	cursor: pointer;
}
.datu>img{
	width: 220px;
	height: 220px;
}
.xiaotu{
	width: 200px;
	padding-left: 8px;
	padding-top: 5px;
	text-align: center;
	
}

.xiaotu1{
	width: 25px;
	height: 25px;
	border: 2px solid #ccc;
	float: left;
	margin: 0 4px 0 0;
}
.xiaotuz{
	width: 25px;
	height: 25px;
	border: 2px solid #ccc;
	float: left;
}
.xiaotu1>img{
	width: 25px;
	height: 25px;
}
.xiaotu1:hover{
	border: 2px solid #e4393c;
}

.body_m_r_1>p{
	padding-left: 8px;
	line-height: 22px;
}

.p1{
	margin: 40px 0 0 0;
	color:#e4393c;
	font-size: 20px;
	font-weight: 700;
}
.p2{
	color: #666;
	cursor: pointer;
}
.p2:hover{
	color: red;
}
.p3,.p4,.p5{
	margin: 2px 0 0 0;
	cursor: pointer;
}
.p3>span{
	color: #a7a7a7;
}
.p3>span:nth-child(2){
	color: #646fb0;
	font-weight: 700;
}

.p4{
	color: #999;
}
.p5>span:nth-child(1){
	display: inline-block;
	float: left;
	height: 16px;
	line-height: 16px;
	padding: 0 3px;
	margin-right: 3px;
	overflow: hidden;
	text-align: center;
	font-size: 12px;
	background:#e23a3a;
	cursor: default;
	border-radius: 2px;
	color: white;
	border: 1px solid #e23a3a;
}
.p4{
	width: 100%;
}
.p4>span{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 3px 90px 0 0;
	float: right;
}
.p5>span:nth-child(2){
	display: inline-block;
	float: left;
	height: 16px;
	line-height: 16px;
	padding: 0 3px;
	margin-right: 3px;
	overflow: hidden;
	text-align: center;
	font-size: 12px;
	background:white;
	cursor: default;
	border-radius: 2px;
	color: #e23a3a;
	border: 1px solid #e23a3a;
}
.p6>span{
	height: 19px;
	line-height: 19px;
	padding: 0 4px;
	margin-right: 7px;
	background:	#f4f4f4;
	font-weight: 400;
	color:#999;
	cursor: pointer;
}
.p6{
	margin: 0 0 0 0;
}
.p7{
	position: absolute;
	right:20px;
	bottom: 10px;
	color: #999999;
}
#esyh{
	float: right;
	cursor: pointer;
	color: #007a9f;
}
.body_m:after {
	content: "";
	height: 0;
	clear: both;
	overflow: hidden;
	display: block;
	visibility: hidden;
}
/* !-- 猜你喜欢-------------------------------------------------------- --. */
.mowei1{
	width: 1368px;
	height: 299px;
	margin: 30px auto;
	border: 1px solid #ccc;
	padding-left: 20px;
}
.mowei1_t{
	width: 100%;
}
.mowei1_t1{
	width: 48%;
	height: 30px;
	float: left;
	line-height: 30px;
}

.mowei1_t2{
	width: 48%;
	height: 30px;
	float: right;
	padding-right: 20px;
	line-height: 30px;
	text-align: right;
}
.mowei_m{
	width: 166px;
	height: 231px;
	float: left;
	margin: 10px 2px 0 0;
	padding-left: 20px;
	text-align: center;
}
.mowei_m_img{
	width: 130px;
	height: 130px;
	margin: 10px 0 5px 10px;
	cursor: pointer;
}

.mowei_m_img>img{
	width: 130px;
	height: 130px;
}
.mowei_m>p{
	width: 150px;
	font-size: 12px;
	margin: 8px 0 0 0; 
	cursor: pointer;
 }
.mowei_m>p:nth-child(3){
	color:#005ea7 ;
}
.mowei_m>p:nth-child(4){
	color:#e3393c; 
}



.chuntu{
	width: 1390px;
	margin: 0 auto;
}
.chuntu>img{
	width: 1390px;
}




/* <!-- 尾部 --> */
.weibu {
	width: 1190px;
	margin: 100px auto 20px;
}

/* <!-- 尾部上 多 快 好 省 --> */
.weibu_t {
	width: 1160px;
	height: 104px;
	padding-left: 20px;
}

.weibu_t1 {
	width: 225px;
	height: 42px;
	margin: 35px 0 0 50px;
	float: left;
}

.weibu_t1_t {
	width: 36px;
	height: 42px;
	float: left;
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: 0 -192px;
}

.weibu_t1>p {
	float: left;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 700;
	color: #444;
	margin: 0 0 0 10px;
}

.weibu_t2 {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -41px -192px;
}

.weibu_t3 {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -82px -192px;
}

.weibu_t4 {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -123px -192px;
}

/* <!-- 尾部中 --> */


.foot_m {
	width: 1190px;
	height: 200px;
	border-top: 1px solid #e1e1e1;
}

.foot_m>ul {
	width: 198px;
	height: 22px;
	float: left;
	margin: 20px 0 0 0;
	padding-top: 10px;

}

.foot_m>ul>p {
	font-size: 14px;
	font-weight: 700;
}

.foot_m>ul>li {
	height: 26px;
	line-height: 26px;
}

.foot_m>ul>li>a {
	color: #666;
}

.foot_m>ul>li>a:hover {
	color: #c81623;
}

.ckxq {
	float: right;
}

/* <!-- 尾部下 --> */

.foot_f {
	width: 100%;
	height: 265px;
	margin: 20px 0 0 0;
	border-top: 1px solid #e1e1e1;
}

.foot_f>ul>li {
	width: 1190px;
	text-align: center;
	height: 26px;
	line-height: 26px;
}

.foot_f>ul>li:nth-child(1)>a {
	color: #666;
	margin: 0 5px;
	font-size: 10px;
}

.foot_f>ul>li span {
	display: inline-block;
	margin: 0 5px;
}

.foot_f>ul>li a:hover {
	color: #c81623;
}

.zi a {
	color: #999;
}

.zi {
	color: #999;
	text-align: center;
}

.zi-t {
	margin: 30px 0 0 0;
}

.zi-t>span {
	display: inline-block;
	width: 103px;
	height: 32px;
	background-color: red;
	cursor: pointer;
}

.zi-t>span:nth-child(1) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px 0;
}

.zi-t>span:nth-child(2) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px -37px;
}

.zi-t>span:nth-child(3) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px -74px;
}

.zi-t>span:nth-child(4) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px -111px;
}

.zi-t>span:nth-child(5) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px -148px;
}

.jiao{
	background-color: #ccc;
	margin: -30px 0 0 0;
}























