*{
	padding: 0;
	margin: 0;
	font-size: 12px;
}
a {
	text-decoration: none;
}
.denglu{
	width: 100%;
	min-width: 1190px;
}
.denglu_t{
	height: 110px;
	background:url(../img/headbg.jpg)repeat-x bottom;
	min-width: 1190px;
}
.denglu_t_m{
	width: 1190px;
	margin: 0 auto;
}
/* logo */
.denglu_logo{
	width: 160px;
	height: 50px;
	float: left;
	margin-top: 24px;
	background: url(../img/icon.png)no-repeat;
}
/* logo右边的欢迎注册 */

.hyzc{
	float: left;
	height: 34px;
	line-height: 34px;
	font-size: 24px;
	color:#333;
	margin-top: 34px;
}

/* 已有账号  请登录 */
.yyzh{
	float: right;
	font-size: 16px;
	float: right;
	margin-top: 55px;
	color:#999;
}
.yyzh a{
	color: #c81623;
}
/* 身体 */

.main{
	width: 1190px;
	margin:  0 auto;
}
.main_m{
	width: 417px;
	margin: 50px auto;
}
/* 验证手机号 */
.main_m_t{
	width: 100%;
	height: 55px;
	position: relative;
}
.main_m_t_l{
	width: 60px;
	height: 55px;
	float: left;
}
.yi{
	margin: 0 auto;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	font-weight: 700;
	color: #ccc;
	background-color: red;
	border-radius: 50%;
	text-align: center;
	font-size: 14px;
}

.yzsjh{
	width: 60px;
	font-size: 12px;
	color: #3b4;
	margin: 10px 0 0 0;
}

/* 点点点点 */
.diandian{
	width: 200px;
	height: 10px;
	background: url(../img/reg-icon.png)no-repeat;
	background-position: 0 -100px;
	float: left;
	margin: 5px 0 0 0;
}

/* 填写信息 */
.main_m_t_l1{
	position: absolute;
	left: 180px;
}
.yi1{
	border: 1px solid #ccc;
	background-color: white;
}
.yzsjh1{
	width: 80px;
	margin: 10px 0 0 -5px;
	color: #999;
}
/* 点点点点 */
.diandian1{
	position: absolute;
	left: 240px;
}
/* 注册成功 */
.main_m_t_l2{
	position: absolute;
	left: 360px;
}
.yzsjh2{
	padding-left: 10px;
}


.sj{
	width: 417px;
	height: 52px;
	border: 1px solid #ccc;
	margin: 50px 0 0 0;
}

/* zuo */
.sj_l{
	width: 108px;
	height: 100%;
	border-right: 1px solid #ccc;
	text-align: center;
	line-height: 55px;
	font-size: 15px;
	float: left;
	cursor: pointer;
}
/* you */
.sj>input{
	border: 0;
	width: 287px;
	height: 50px;
	float: right;
	font-size: 15px;
	outline:none;
	padding: 0 0 0 20px;
}
/* 点击按钮进行验证 */
.yz{
	width: 417px;
	height: 52px;
	text-align: center;
	font-size: 15px;
	line-height: 55px;
	border: 1px solid #ccc;
	margin:  40px 0 0 0 ;
	cursor: pointer;
}
.yz:hover{
	border: 1px solid black;
}

/* 下一步 */
.xyb{
	width: 417px;
	height: 52px;
	text-align: center;
	font-size: 15px;
	line-height: 55px;
	border: 1px solid #ccc;
	margin:  40px 0 0 0 ;
	cursor: pointer;
	background-color: #e2231a;
}
.xyb>a{
	display: block;
	width: 417px;
	height: 52px;
	color: white;
	font-size: 15px;
}

.qyzc{
	width: 100%;
	height: 50px;
	margin: 30px 0 0 0;
}
.qyzc>div{
	display: inline-block;
}
.qyzc_l>span:nth-child(1){
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/reg-icon.png)no-repeat;
	background-position: 0 -160px;
	float: left;
	
}
.qyzc_l>span:nth-child(2){
	font-size: 13px;
	line-height: 25px;
	margin: 0 0 0 10px;
	
}
.qyzc_l{
	cursor: pointer;
}
.qyzc_l:hover{
	color: red;
}
.qyzc_r:hover{
	color: red;
}
.qyzc_r{
	margin: 0 0 0 180px;
	cursor: pointer;
}
.qyzc_r>span:nth-child(1){
	float: left;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url(../img/reg-icon.png)no-repeat;
	background-position: -40px -160px;
}
.qyzc_r>span:nth-child(2){
	font-size: 13px;
	line-height: 25px;
	margin: 0 0 0 10px;
}



/* 脚 */

.foot{
	width: 1190px;
	height: 120px;
	margin: 50px auto;
	border-top: 1px solid #ccc;
	text-align: center;
}
.foot>ul{
	margin: 30px 0 0 0;
	color: #999;
}
.foot>ul>li>span{
	margin: 0 5px;
}
.foot>ul>li>span>a{
	color: #999;
}



.foot>ul>li>span>a:hover{
	color: red;
	text-decoration: underline;
}
.foot>ul>li:nth-child(2){
		margin: 20px 0 0 0;
	}
