* {
	padding: 0;
	margin: 0;
	font-size: 12px;
}

a {
	text-decoration: none;
}

.denglu {
	width: 100%;
	min-width: 990px;
}

.denglu_t {
	height: 110px;
	min-width: 990px;
}

.denglu_t_m {
	width: 990px;
	margin: 0 auto;
}

/* logo */
.denglu_logo {
	width: 160px;
	height: 50px;
	float: left;
	margin-top: 24px;
	background: url(../img/icon.png)no-repeat;
}

/* logo右边的欢迎注册 */

.hyzc {
	float: left;
	height: 34px;
	line-height: 34px;
	font-size: 24px;
	color: #333;
	margin-top: 34px;
}

/* 已有账号  请登录 */
.yyzh {
	float: right;
	font-size: 16px;
	margin-top: 55px;
	color: #999;
	margin-right: 100px;
	height: 22px;
	position: relative;
	text-align: center;
	cursor: pointer;
}

.yyzh>span:nth-child(2) {
	margin-left: 30px;
}

.yyzh>span:nth-child(1) {
	display: block;
	width: 18px;
	height: 14px;
	position: absolute;
	left: 6px;
	top: 7px;
	background: url(../img/q-icon.png)no-repeat;
}

.yyzh a {
	color: #999;
}

.yyzh a:hover {
	color: #c81623;
	text-decoration: underline;
}



/* 内容 */
.denglu_m{
	width: 100%;
	height: 475px;
	background-color: #e93854;
}
/* 背景图 */
.denglu_m_m{
	width:990px;
	height: 100%;
	background: url(../img/beijing.png);
	margin: 0 auto;
}
/* 账户登录 */
.denglu_m_m_r{
	width: 347px;
	height: 440px;
	float: right;
	margin: 10px 10px 0 0 ;
	
}
.denglu_m_m_r_t{
	background:#fff8f0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	text-align: center;
}
.dier{
	width: 100%;
	height: 55px;
	border-bottom: 1px solid #ccc;
	background-color: white;
}
.dier>span:nth-child(1){
	border-right: 1px solid #ccc;
}
.dier>span{
	display:inline-block;
	width: 173px;
	height: 55px;
	float: left;
	text-align: center;
	line-height: 55px;
	font-size: 16px;
}
.dier>span:hover{
	font-weight: 700;
	color: red;
}
.zhdl1,.smdl1{
	font-weight: bold;
}
/* 二维码 */
.erweima{
	width: 100%;
	height: 147px;
	margin: 40px auto;
}

/* 需要隐藏的部分(扫码) */
.yc{
	width: 100%;
	height: 300px;
	background-color: white;
	float: left;
	text-align: center;
	/* display: none; */
}
/* 账户登录的显示 */
.xs{
	width: 100%;
	height: 230px;
	background-color: white;
	display: none;
}
.shouji{
	width: 304px;
	height:37px;
	margin: 20px 0 0 20px;
	border: 1px solid #ccc;
	float: left;
}
.mima{
	width: 304px;
	height: 37px;
	margin: 20px 0 0 20px;
	border: 1px solid #ccc;
	float: left;
}
.shouji_l{
	float: left;
	width: 38px;
	height: 37px;
	border-right: 1px solid #ccc;
	background: url(../img/pwd-icons-new.png);
}
.shouji>input{
	width: 250px;
	height: 100%;
	border: 0;
	padding: 0 0 0 10px;
	outline:none;
}
.mima>input{
	width: 250px;
	height: 100%;
	border: 0;
	padding: 0 0 0 10px;
	outline:none;
}
.mima_l{
	float: left;
	width: 38px;
	height: 37px;
	border-right: 1px solid #ccc;
	background: url(../img/pwd-icons-new.png);
	background-position: -48px 0;
}
.wjmm{
	width: 100px;
	height: 25px;
	float: right;
	margin: 20px -20px 0 0 ;
}
.wjmm a{
	color: #999;
}
.wjmm a:hover{
	color: red;
	text-decoration: underline;
}
.denglua{
	border: 1px solid #e85356;
	display: block;
	width: 282px;
	background:#e4393c;
	height: 31px;
	line-height: 31px;
	color:#fff;
	font-size: 20px;
	float: left;
	margin: 0 0 0 20px;
	text-align: center;
	padding-left: 20px;
}
.denglua>a{
	display: block;
	width: 302;
	height: 31px;
	line-height: 31px;
	color:#fff;
	font-size: 20px;
	letter-spacing: 20px;
}
/* 打开 手机京东 扫描二维码 */

.denglu_m_m_r>p{
	text-align: center;
	margin:-15px 0 0 0  ;
}
						/* <!-- 免输入  更快  更安全 --> */
.msr{
	width: 300px;
	height: 25px;
	margin-top: 20px ;
	margin-left: 15px;
}
.msr>p{
	padding-left: 30px;
	width: 68px;
	height: 25px;
}
.m1{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../img/qr-coagent.png)no-repeat;
	float: left;
}
.m11{
	float: left;
	line-height: 25px;
	margin: 0 0 0 5px;
}
.msr>p{
	width: 68px;
	float: left;
}

.m2{
	background: url(../img/qr-coagent.png)no-repeat;
	background-position: -27px 0;
}
.m3{
	background: url(../img/qr-coagent.png)no-repeat;
	background-position: -54px 0;
}

/* 底部 */

.dibu{
	width: 327px;
	height:30px;
	background-color:white;
	border-top: 1px solid #ccc;
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}

.dibu>p{
	float: left;
	margin:  0 10px;
}
.dibu>p:nth-child(1)>span:nth-child(1){
	display: inline-block;
	float: left;
	width: 19px;
	height: 18px;
	background: url(../img/QQ-weixin.png);
	margin: 0 5px 0 0;
}
.dibu>p:nth-child(2)>span:nth-child(1){
	display: inline-block;
	float: left;
	width: 19px;
	height: 18px;
	background: url(../img/QQ-weixin.png);
	background-position: -19px 0;
	margin: 0 5px 0 0;
}
.dibu>p:nth-child(3){
	float: right;
	margin: 0 20px 0 0;
}
.dibu>p:nth-child(3)>span:nth-child(1){
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: red;
	color: white;
	font-size: 13px;
	border-radius: 50%;
	text-align: center;
	line-height: 16px;
}




/* 脚 */

.foot{
	width: 990px;
	height: 120px;
	margin: 0 auto;
	text-align: center;
}
.foot>ul{
	margin: 30px 0 0 0;
	color: #999;
}
.foot>ul>li>span{
	margin: 0 5px;
}
.foot>ul>li>span>a{
	color: #999;
}



.foot>ul>li>span>a:hover{
	color: red;
	text-decoration: underline;
}
.foot>ul>li:nth-child(2){
		margin: 20px 0 0 0;
	}











	