* {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 13px;
}

a {
	text-decoration: none;
}

#tb {
	font-size: 15px;
}

.niubi {
	width: 100%;
	min-width: 1390px;
	background-color: #f2f2f2;
}

/* 导航 ----------------------------------------------------*/
.header {
	width: 100%;
	height: 30px;
	min-width: 1390px;
	background-color: #e3e4e5;
}

.header a {
	text-decoration: none;
	color: #999999;
}

/* 导航最小框 */
.h_m {
	width: 1390px;
	height: 30px;
	line-height: 30px;
	color: #999;
	margin: 0 auto;
}

/* 导航左定位 */
.h_ml {
	float: left;
	color: #999;

}

.h_ml>span {
	display: inline-block;
	padding: 0 10px;
}

.guangdong {
	position: relative;
}

.guangdong:hover {
	background-color: white;
}

#sy {
	font-size: 15px;
}

/* 定位下拉列表 */

.gd {
	width: 320px;
	height: 340px;
	position: absolute;
	background-color: white;
	top: 30px;
	left: -1px;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	display: none;
	z-index: 888;
}

.guangdong:hover .gd {
	display: block;
}

.gd>ul {
	float: left;
}

.diqu>li {
	width: 52px;
	height: 24px;
	margin: 6px;
	text-align: center;
	line-height: 24px;
}

.diqu li:hover {
	background-color: red;
	color: white;
	border-radius: 5px;
}

.dq {
	margin: 0 0 0 15px;
}

.gd_x {
	width: 290px;
	height: 1px;
	background-color: #F2F2F2;
	float: left;
	margin: 10px 0 10px 20px;
}

.yinwen li {
	width: 140px;
	background: no-repeat;
	margin: 0 0 0 10px;
}

.diqu1 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 3px;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 0 0;
}

.diqu2 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 20px 0;
}

.diqu3 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 40px 0;
}

.diqu4 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 0px 17px;
}

.diqu5 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: -20px 17px;
}



/* 导航右边 */
.h_mr {
	height: 30px;
	float: right;
}

.h_mr>span {
	margin: 0 5px;
	float: left;
}

.dl>a:nth-child(1) {
	color: #999;
	font-weight: 500;
}

.dl>a:nth-child(1):hover {
	color: red;
}

.dl>a:nth-child(2) {
	color: red;
}

/* 竖线 */
.dl_shu {
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: #ccc;

}

/* 我的京东 */
.wdjd {
	padding: 0 5px;
	position: relative;
}

.wdjd:hover {
	/* background-color: red; */
	background-color: white;
}

.wdjd>a:hover {
	color: red;
}

/* 我的京东下拉 */
.wdjd:hover .wdjd_m {
	display: block;
}

.wdjd_m {
	position: absolute;
	width: 270px;
	height: 164px;
	background-color: white;
	left: 0;
	display: none;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
}

.wdjd_m>ul {
	float: left;
}

.wdjd_m>ul>li {
	width: 120px;
	margin: 0 0 0 15px;
}

.wdjd_m>ul>li a:hover {
	color: red;
}

/* 京东会员 */
.jdhy a:hover {
	color: red;
}

/* 企业采购 */
.qycg {
	padding: 0 3px;
	position: relative;
}

.qycg:hover {
	background-color: white;
}

.qycg a:hover {
	color: red;
}

/* 企业采购下拉 */
.qycg_m {
	position: absolute;
	left: 0;
	width: 156px;
	height: 70px;
	background-color: white;
	display: none;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
}

.qycg:hover .qycg_m {
	display: block;
}

.qycg_m>ul {
	float: left;
}

.qycg_m>ul>li {
	width: 65px;
	margin: 2px 0 0 5px;
}

/* 客户服务 */
.khfw>a:hover {
	color: red;
}

.khfw {
	position: relative;
	padding: 0 3px;

}

.khfw:hover {
	background-color: white;
}

/* 客户服务下拉菜单 */
.khfw:hover .khfw_m {
	display: block;
}

.khfw_m {
	position: absolute;
	left: -113px;
	width: 171px;
	height: 248px;
	background-color: white;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	display: none;
}

.khfw_m>p {
	float: left;
	width: 160px;
	height: 20px;
	margin: 0 0 0 5px;
	font-weight: bold;
	color: #868686;
}

.khfw_m>ul {
	float: left;
}

.khfw_m>ul>li {
	width: 80px;
	margin: 0 0 0 5px;
}

/* 网站导航 */
.wzdh {
	position: relative;
	padding: 0 3px;

}

.wzdh:hover {
	background-color: white;
}

/* 网站导航下拉 */
.wzdh:hover .wzdh_m {
	display: block;
}

.wzdh_m {
	width: 1390px;
	height: 188px;
	background-color: white;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	display: none;
	position: absolute;
	left: -1252px;
}

/* <!-- 特色主题 --> */
.wzdh_m1 {
	width: 400px;
	height: 100%;
	margin: 0 0 0 20px;
	float: left;
}

.wzdh_m1>p {
	width: 100%;
	height: 24px;
	line-height: 24px;
	color: black;
	font-weight: 700;
	font-size: 15px;
	margin: 10px 5px 0 0;
	float: left;
}

.wzdh_m1>ul {
	float: left;
}

.wzdh_m1>ul>li {
	width: 100px;
	height: 27px;
}

.wzdh_m1>ul>li>a:hover {
	color: red;
}

/* <!-- 竖线 --> */
.wzdh_x {
	width: 1px;
	height: 80%;
	background-color: #d6d6d6;
	float: left;
	margin: 20px 0 0 0;
}

/* <!-- 行业频道   生活服务  更多精选--> */
.wzdh_m2 {
	width: 300px;
	height: 100%;
	/* background-color: red; */
	float: left;
	margin: 0 0 0 20px;
}

.wzdh_m2>p {
	width: 100%;
	height: 24px;
	line-height: 24px;
	color: black;
	font-weight: 700;
	font-size: 15px;
	margin: 10px 5px 0 0;
	float: left;
}

.wzdh_m2>ul {
	float: left;
}

.wzdh_m2>ul>li {
	width: 100px;
	height: 27px;
}

.wzdh_m2>ul>li>a:hover {
	color: red;
}

/* 手机京东 */
.sjjd {
	position: relative;
	padding: 0 3px;
}

.sjjd:hover {
	background-color: white;
}

.sjjd:hover .sjjd_m {
	display: block;
}

.sjjd_m {
	width: 190px;
	height: 300px;
	background-color: white;
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	left: -133px;
}

/* <!-- 第一个二维码 --> */
.sjjd_m1 {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ccc;
}

/* <!-- 二维码图 --> */
.sjjd_erweima {
	width: 70px;
	height: 70px;
	margin: 15px 0 0 10px;
	float: left;
	border: 1px solid #ccc;
}

.sjjd_erweima>img {
	width: 70px;
	height: 70px;
}

/*<!-- 二维码图右边的字 --> */
.sjjd_z {
	width: 96px;
	height: 70px;
	float: left;
	margin: 15px 0 0 0;
}

.sjjd_z>p:nth-child(1) {
	height: 17px;
	font-weight: 700;
	color: #686868;
	margin: -8px 0 0 5px;
}

.sjjd_z>p:nth-child(2) {
	margin: 10px 0 0 5px;
	color: red;
	line-height: 16px;
}

.sjjd_z>p>span {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: red;
}

.sjjd_z>p>span:nth-child(1) {
	background: url(../img/sprite_mobile@1x.png);
}

.sjjd_z>p>span:nth-child(3) {
	background: url(../img/sprite_mobile@1x.png);
	background-position: 0 25px;
}

.sjjd_z>p>span:nth-child(2) {
	background: url(../img/sprite_mobile@1x.png);
	background-position: 0 51px;
}



/* !-- 导航2------------------------------------------------------ -- */



.header2 {
	width: 1390px;
	height: 70px;
	margin: 0 auto;
	position: relative;
	padding-top: 25px;
}

/* logo */
.header2_logo {
	width: 270px;
	height: 60px;
	background: url(../img/jdlogo-201708-@1x.png)no-repeat;
	cursor: pointer;
	position: relative;
	float: left;
}

/* 全部分类 */
.qbfl {
	width: 75px;
	height: 26px;
	border: 1px solid #CCC;
	float: right;
	text-align: center;
	line-height: 26px;
	color: #666;
	background-color: white;
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 333;
}

.qbfl:hover {
	border-bottom: none;
}

.qbf11 {
	width: 170px;
	height: 449px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px 1px #ccc;
	z-index: 6;
	position: absolute;
	right: -105px;
	top: 36px;
	background-color: white;
	display: none;
	padding-left: 10px;
	padding-top: 20px;
}

.qbf11 a {
	line-height: 26px;
	font-size: 13px;
	margin: 0 0 0 5px;
	color: black;
}

/* 搜索框 */
.sousuo {
	float: left;

}

.sousuo>input {
	float: left;
	width: 446px;
	height: 34px;
	margin: 0 0 0 100px;
	border: 2px solid #B61D1D;
	padding-left: 10px;
	color: #666;
}

.sousuo>button:nth-child(2) {
	height: 38px;
	margin: 0 0 0 -5px;
	background: #B61D1D;
	border: none;
	border-radius: 0;
	padding: 0 10px;
	color: white;
}

.sousuo>button:nth-child(3) {
	height: 38px;
	margin: 0 0 0 -5px;
	background: #474e5c;
	border: none;
	border-radius: 0;
	padding: 0 10px;
	color: white;
}



.gwc {
	width: 132px;
	height: 36px;
	background-color: white;
	border: 1px solid #eee;
	float: left;
	position: relative;
	margin: 0 0 0 50px;
	cursor: pointer;
}

.gwc>span {
	color: red;
}

/*  购物车图标 */
#gwc {
	font-size: 20px;
	color: red;
	line-height: 36px;
	margin: 0 10px 0 15px;
}

/*购物车"0"*/
.xiao {
	position: absolute;
	top: 1px;
	left: 29px;
	right: auto;
	display: inline-block;
	padding: 1px 4px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #e1251b;
	border-radius: 7px;
	text-align: center;
}

/* -- 导航3 ------------------------- */
.chuntu {
	position: relative;
	height: 110px;
	overflow: hidden;
}

.chuntu>img {
	position: absolute;
	left: -960px;
	margin-left: 50%;
}


/* 所有产品----------------------------------------------------------------------- */
.body_1 {
	width: 100%;
	height: 40px;
	background-color: #0d0d0e;
	color: white;
}

.body_1_m {
	width: 1030px;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
}

.body_1_m>span {
	display: inline-block;
	padding: 0 35px;
}

.body_1_m>span:hover {
	background-color: #354F65;
}


/* 所有产品 */
.body_1_m>span:nth-child(1) {
	position: relative;

}

.body_1_m>span:nth-child(1):hover .sysp {
	display: block;
}

.sysp {
	width: 1000px;
	background-color: white;
	position: absolute;
	left: -200px;
	color: black;
	padding-left: 450px;
	opacity: 0.9;
	display: none;
	z-index: 999;
}

.sysp>ul {
	float: left;
	width: 170px;
	padding-top: 30px;
}

.sysp>ul>li {
	height: 35px;
	line-height: 35px;
	color: #666;
}

.sysp>ul>li:nth-child(1) {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

.sysp>ul>li:hover {
	color: #000000;
}

.body_1_m>span:nth-child(3) {
	position: relative;
}

.body_1_m>span:nth-child(3):hover .shouji {
	display: block;
}

.shouji {
	width: 1390px;
	height: 215px;
	padding-top: 15px;
	display: none;
	position: absolute;
	left: -400px;
	background-color: white;
	opacity: 0.9;
	z-index: 999;
}

.shouji>div:nth-child(1) {
	margin: 0 0 0 80px;
}

.shouji1 {
	width: 150px;
	float: left;
	padding: 0 12px;
	font-size: 14px;
	text-align: center;
	float: left;
	color: #999;
	z-index: 999;
}

.shouji1>img {
	width: 120px;
	height: 120px;
}

.body_1_m>span:nth-child(4) {
	position: relative;
}

.shouji_1 {
	position: absolute;
	left: -500px;
	z-index: 999;
}

.body_1_m>span:nth-child(5) {
	position: relative;
}

.shouji_2 {
	position: absolute;
	left: -650px;
	z-index: 999;
}

.body_1_m>span:nth-child(6) {
	position: relative;
}

.shouji_3 {
	position: absolute;
	z-index: 999;
	left: -750px;
}

.body_1_m>span:nth-child(7) {
	position: relative;
}

.shouji_4 {
	position: absolute;
	left: -850px;
	z-index: 999;
}

.body_1_m>span:nth-child(8) {
	position: relative;
}

.shouji_5 {
	position: absolute;
	left: -950px;
}

.body_1_m>span:nth-child(4):hover .shouji {
	display: block;
}

.body_1_m>span:nth-child(5):hover .shouji {
	display: block;
}

.body_1_m>span:nth-child(6):hover .shouji {
	display: block;
}

.body_1_m>span:nth-child(7):hover .shouji {
	display: block;
}

.body_1_m>span:nth-child(8):hover .shouji {
	display: block;
}

/* 放大镜布局 */
.body_2 {
	width: 1390px;
	margin: 20px auto;
}

/* 左边大图 */
.body_2_l {
	width: 532px;
	height: 568px;
	float: left;
	position: relative;
}

.guding {
	width: 450px;
	height: 450px;
	position: relative;
}

.body_2_l_t {
	width: 450px;
	height: 450px;
	margin: 0 auto;
	border: 1px solid #ccc;
	position: relative;
	overflow: hidden;
}

.body_2_l_t>img {
	width: 450px;
	height: 450px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.dong {
	width: 225px;
	height: 225px;
	background: #d6f26e;
	opacity: .7;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 666;
}

.fxiaotu {
	width: 452px;
	height: 58px;
	margin-top: 25px;
	padding-left: 35px;
}
.fxiaotu>img{
	width: 58px;
	height: 58px;
	margin: 0 9px;
	border: 2px solid white;
}
.fxiaotu_t {
	width: 58px;
	height: 58px;
	float: left;
	margin: 0 9px;
	border: 2px solid white;
}

.fxiaotu_t>img {
	width: 58px;
	height: 58px;
}

.fxiaotu_t:hover {
	border: 2px solid #e53e41;
}


.fdj {
	width: 500px;
	height: 600px;
	background-color: white;
	border: 1px solid #CCCCCC;
	box-shadow: 1px 1px 1px 1px #ccc;
	position: absolute;
	left: 458px;
	top: 0;
	overflow: hidden;
	display: none;
	z-index: 999;
}
.fdj>img{
	width: 900px;
	height: 1050px
}



/* 右边详情 */
.body_2_r {
	width: 818px;
	height: 784px;
	float: left;
	margin: 0 0 0 -30px;
}

.body_2_r>p:nth-child(1) {
	line-height: 28px;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 16px;
}

.body_2_r>p:nth-child(1) {
	margin-bottom: 5px;
}

.body_2_r>p:nth-child(1)>span:nth-child(1) {
	width: 618px;
	line-height: 1.5em;
	color: #e4393c;
}

.body_2_r>p:nth-child(1)>span:nth-child(2) {
	width: 618px;
	line-height: 1.5em;
	color: #5e69ad;
}

/* 京东价 */
.jdj {
	width: 100%;
	height: 82px;
	padding-top: 10px;
	background-color: #f3f3f3;
	margin: 5px 0 0 0;
}

.jdj>p {
	width: 100%;
	float: left;
}

.jdj>p:nth-child(1)>span:nth-child(1) {
	display: inline-block;
	float: left;
	padding-left: 10px;
	color: #999;
	line-height: 22px;
	letter-spacing: 5px;
}

.jdj>p:nth-child(1)>span:nth-child(2) {
	display: inline-block;
	float: left;
	color: #e4393c;
	font-size: 22px;
	margin: -7px 13px 0 10px;
}

.jdj>p:nth-child(1)>span:nth-child(3) {
	display: inline-block;
	float: left;
	font-size: 12px;
}

.jdj>p:nth-child(1)>span:nth-child(4) {
	display: inline-block;
	float: right;
	font-size: 12px;
	width: 70px;
	border-left: 1px solid #ccc;
	text-align: center;
	color: #666;
}

.cuxiao {
	float: left;
	margin: 10px 0 0 0;
}

.cuxiao>span {
	display: inline-block;
	float: left;
	padding-left: 10px;
	color: #999;
	line-height: 22px;
	letter-spacing: 25px;

}

.cuxiao>div:nth-child(2) {
	width: 30px;
	height: 20px;
	float: left;
	border: 1px solid red;
	text-align: center;
	color: red;
}

.cuxiao>div:nth-child(3) {
	float: left;
	margin: 0 0 0 10px;
}

/* 增值业务 */

.zzyw {
	padding: 5px 0 0 10px;
}

.zzyw>:nth-child(1) {
	width: 58px;
	height: 32px;
	color: #999;
	line-height: 32px;
}

.body_m_r_t2>:nth-child(1) {
	width: 58px;
	height: 32px;
	color: #999;
	line-height: 32px;
}

.zzyw_r {
	display: inline-block;
	border: #005EA7 1px solid;
	border-radius: 12px;
	color: #005EA7;
	padding-right: 2px;
	cursor: pointer;
	margin: 0 0 0 5px;
}

.zzyw_r>i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/__sprite.png);
	background-position: 0 -31px;
	float: left;
	margin: 0 5px 0 0;
	font-size: 10px;
}

.zzyw_r2 {
	display: inline-block;
	border: #005EA7 1px solid;
	border-radius: 12px;
	color: #005EA7;
	padding-right: 2px;
	margin: 0 0 0 10px;
	padding-right: 2px;
	cursor: pointer;
}

.zzyw_r2>i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/__sprite.png);
	background-position: -32px -31px;
	float: left;
	margin: 0 5px 0 0;
	font-size: 10px;
}

.dingweixianshi {
	display: none;
	width: 486px;
	height: 130px;
	border: 1px solid #ccc;
	position: absolute;
	left: 53px;
	top: 33px;
	z-index: 6;
	background-color: white;
	box-shadow: 1px 1px 1px #ccc;
}

.dingweixianshi>ul>li>a {
	display: inline-block;
	width: 100px;
	line-height: 35px;
	height: 35px;
	text-align: center;
}

.dingweixianshi>ul>li>a:hover {
	color: red;
}

.icon-xiangxia {
	margin: 0 0 0 10px;
	color: #868686;
}

.body_m_r_t2 {
	padding-left: 10px;
	height: 28px;
	padding-top: 10px;
	position: relative;
}

.body_m_r_t2>span:nth-child(2) {
	display: inline-block;
	width: 135px;
	padding: 3px 10px;
	border: 1px solid #ccc;
	position: relative;
	z-index: 333;
	background-color: white;
}

.body_m_r_t2>span:nth-child(1) {}

.body_m_r_t2>span:nth-child(2):hover {
	border-bottom: none;
}

.youhuo {
	color: #999;

}


.fahuo {
	padding-left: 55px;
	padding-top: 10px;
	color: #999;
}

.fuwuzhichi {
	margin: 40px 0 0 0;
	padding-left: 10px;
}

.fuwuzhichi>span:nth-child(1) {
	color: #999;
	float: left;
}

.fwzc1 {
	height: 47px;
	float: left;
}

.fwzc1_t {
	height: 16px;
}

.fwzc1_t>span:nth-child(1) {
	width: 84px;
	height: 16px;
	background-color: red;
	display: inline-block;
	background: url(../img/__sprite.png) no-repeat;
	background-position: 0 -16px;
}

.hui {
	color: #999;
}

.xian {
	width: 100%;
	border-top: 1px solid #ccc;
	float: left;
	margin: 10px 0 10px 0;
}

.zhengqi {
	display: block;
	float: left;
	margin: 0 0 10px 0;
}

.zhengqi>span:nth-child(1) {
	display: inline-block;
	color: #999;
	padding-right: 10px;
	float: left;
}

.z_1x {
	width: 92px;
	height: 40px;
	float: left;
	border: 1px solid #ccc;
	margin: 0 10px 0 0;
	background-color: #f2f2f2;
}

.z_1x:hover {
	border: 1px solid #e3393c;
}

.z_1x>i {
	width: 40px;
	height: 40px;
	display: inline-block;
	background: url(../img/s0.jpg)no-repeat;
}

.z_1x>i>img {
	width: 40px;
	height: 40px;
}

.z_1x>span {
	float: right;
	margin: 15px 10px 0 0;
}

.banben {
	width: 800px;
	float: left;
	margin: 10px 0 0 0;
}

.banben>span:nth-child(1) {
	display: inline-block;
	color: #999;
	padding-right: 10px;
}

.banben>:nth-child(2) {
	color: #666;
	padding: 6px 15px;
	display: inline-block;
	border: 1px solid #ccc;
	margin: 0 5px 0 0;
}

.banben>:nth-child(3) {
	color: #666;
	padding: 6px 15px;
	display: inline-block;
	border: 1px solid #ccc;
	margin: 0 5px 0 0;
}

.banben>:nth-child(4) {
	color: #666;
	padding: 6px 15px;
	display: inline-block;
	border: 1px solid #ccc;
	margin: 0 5px 0 0;
}

.banben>:nth-child(5) {
	color: #666;
	padding: 6px 15px;
	display: inline-block;
	border: 1px solid #ccc;
	margin: 0 5px 0 0;
}

.banben>:nth-child(6) {
	color: #666;
	padding: 6px 15px;
	display: inline-block;
	border: 1px solid #ccc;
	margin: 0 5px 0 0;
}

.banben>:nth-child(7) {
	color: #666;
	padding: 6px 15px;
	display: inline-block;
	border: 1px solid #ccc;
	margin: 0 5px 0 0;
}

.banben>span:nth-child(2):hover {
	border: 1px solid #e3393c;
}

.banben>span:nth-child(3):hover {
	border: 1px solid #e3393c;
}

.banben>span:nth-child(4):hover {
	border: 1px solid #e3393c;
}

.banben>span:nth-child(5):hover {
	border: 1px solid #e3393c;
}

.banben>span:nth-child(6):hover {
	border: 1px solid #e3393c;
}

.banben>span:nth-child(7):hover {
	border: 1px solid #e3393c;
}

.banben1>:nth-child(1) {
	letter-spacing: 25px;
	margin: 0 -25px 0 0;
}

.jrgwc {
	width: 700px;
	float: left;
}

.jrgwc>input {
	width: 25px;
	height: 45px;
	border: 1px solid #ccc;
	float: left;
	padding-left: 20px;
}

.jrgwc>button {
	width: 17px;
	height: 24px;
	float: left;
}

.jrgwc>button:nth-child(3) {
	margin: 24px 0 0 -17px;
}

.jrgwc>span {
	display: block;
	float: left;
	margin: 0 0 0 10px;
	width: 142px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	color: white;
	font-weight: 700;
	background-color: #df3033;
	font-size: 20px;
	cursor: pointer;
}

.body_2:after {
	content: "";
	height: 0;
	clear: both;
	overflow: hidden;
	display: block;
	visibility: hidden;
}

/* 人气配件 */
.body_3 {
	width: 1390px;
	height: 256px;
	margin: 0 auto;
}

.body_3_t {
	width: 100%;
	height: 38px;
	background-color: #f7f7f7;
	color: #666;
}

.body_3_t>span {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	font-size: 15px;
	line-height: 38px;
	font-weight: 700;
}

.body_3_t>span:hover {
	color: red;
}

.body_3_m {
	width: 100%;
	padding-top: 20px;
}

.body_3_m_l {
	width: 144px;
	height: 161px;
	float: left;
}

.body_3_m_l_t {
	width: 100px;
	height: 100px;
}

.body_3_m_l_t>img {
	width: 100px;
	height: 100px;
}

.jiahao {
	width: 23px;
	height: 23px;
	float: right;
	background: url(../img/jiahao.png);
	margin: -50px 0 0 0;
}

.body_3_m_l>p {
	color: #666;
}

.body_3_m_m {
	width: 144px;
	height: 160px;
	margin: 0 0 0 10px;
	float: left;
}

.zuo {
	width: 23px;
	height: 73px;
	background: url(../img/page-btn.png);
	background-position: -94px -94px;
	float: left;
	margin: 25px 0 0 40px;
}

.body_3_m_m>p {
	padding-left: 10px;
}

.body_3_m_m>p:nth-child(2) {
	padding-top: 10px;
	font-size: 10px;
}

.body_3_m_m>p {
	width: 121px;
}

.body_3_m_m>:nth-child(3) {
	font-weight: 700;
	color: red;
}

.youbian {
	width: 23px;
	height: 73px;
	float: left;
	background: url(../img/page-btn.png);
	background-position: -46px 0;
	margin: 0 0 0 20px;
}

.dengyu {
	width: 23px;
	height: 23px;
	background: url(../img/equal.png);
	float: left;
	margin: 25px 0 0 20px;
}

.zuiyoubian {
	width: 200px;
	height: 139px;
	float: right;
	margin: 0 100px 0 0;
}

.zuiyoubian>p>span {
	font-size: 16px;
	font-weight: 700;
	color: #e4393c;
	letter-spacing: 2px;
}

.ljgm {
	padding: 5px 22px;
	border: 0;
	background-color: #e4393c;
	color: white;
	cursor: pointer;
}

.peijian {
	padding: 5px 10px;
	border: 1px solid #ccc;
	color: #666;
	background-color: white;
	margin: 10px 0 0 0;
	cursor: pointer;
}

.peijian:hover {
	color: red;
}

.body_4 {
	width: 1390px;
	margin: 0 auto;
}

.body_4_l {
	float: left;
	width: 210px;
	border: 1px solid #ccc;
}

.body_4_l_t {
	font-weight: 700;
	font-size: 15px;
	padding: 10px;
	background-color: #f7f7f7;
	color: #999999;
}

.daren1 {
	width: 188px;
	height: 255px;
	text-align: center;
	margin: 10px 0 0 0;
	padding-left: 10px;
}

.daren1>img {
	width: 180px;
	height: 180px;
}

.daren1>:nth-child(3) {
	float: left;
	color: red;
	font-size: 14px;
	font-weight: 700;
}

.body_4l {
	width: 210px;
}

.body_4_l1 {
	margin-top: 20px;
}

.body_4_r {
	width: 988px;
	float: left;
	margin: -1366px 0 0 10px;
}

.body_4_r_t {
	width: 100%;
	line-height: 38px;
	background-color: #f7f7f7;
}

.body_4_r_t>span {
	display: inline-block;
	padding: 5px 25px;
	cursor: pointer;
	margin: 0 2px;
}
.spjs{
	display: block;
}
.spjs_t {
	width: 1000px;
	padding-left: 50px;
	height: 275px;
}

.spjs_t>p {
	width: 100%;
	margin: 50px 0 20px 0;
}

.spjs_t>ul {
	width: 242px;
	float: left;
}

.spjs_t>ul>li {
	width: 242px;
	font-size: 10px;
	line-height: 20px;
	color: #999;
}

xian {
	display: block;
	width: 950px;
	height: 1px;
	border-top: 1px solid #ccc;
	float: left;
	margin: 30px 0 0 0;
}

/* .商品介绍 */
.spjs {
	display: block;
}

.spjs_t_m {
	width: 990px;
	margin: -70px 0 0 25px;
	text-align: center;
}

.spjs_t_m>img {
	margin: -5px 0 0 0;
}

/* 规格与包装 */

.ggybz {
	color: #999;
	display: none;
}

.ggybz>ul {
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 30px;
	border-bottom: 1px solid #ccc;
}

.ggybz>ul>li>span {
	line-height: 20px;
	height: 20px;
}

.ggybz>ul>li>:nth-child(1) {
	display: inline-block;
	width: 110px;
	text-align: right;
}

.ggybz>ul>li>:nth-child(2) {
	display: inline-block;
	width: 165px;
	text-align: right;
}

.ggybz>ul>li>:nth-child(3) {
	margin: 0 25px;
}

.ggybz>ul>li>:nth-child(4) {
	display: inline-block;
	text-align: left;
	width: 600px;
}

.ggybz_b {
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 30px;
	line-height: 24px;
}

/* 售后保障 */
.shbz {
	display: block;
}

.shbz>ul {
	padding-top: 30px;
	padding-left: 30px;
}

.shbz_t {
	width: 988px;
	height: 41px;
	line-height: 41px;
	font-size: 14px;
	font-weight: 700;
	background-color: #F7F7F7;
	margin-top: 20px;
}

.shbz>p {
	padding-left: 10px;
}

.cjfw>p>span:nth-child(1) {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/__asprite.png);
	background-position: -32px -75px;
	float: left;
}

.cjfw>p>span:nth-child(2) {
	display: inline-block;
	float: left;
	margin: 5PX 0 0 10PX;
	font-size: 16px;
	color: #e4393c;
	font-weight: bold;
}

.shbz>ul>li {
	margin: 0 0 0 40px;
	line-height: 20px;
}

.shbz>ul>:nth-child(2) {
	margin: 50px 0 0 40px;
	font-size: 10px;
}

.cjfw1>p>span:nth-child(1) {
	background: url(../img/__asprite.png);
	background-position: -64px -75px;
}

.cjfw2>p>span:nth-child(1) {
	background: url(../img/__asprite.png);
	background-position: 0 -75px;
}

.quanze>li:nth-child(1) {
	margin: 0 0 -40px 0;
	color: red;
	font-weight: bold;
}

.quanze>li:nth-child(2) {
	margin: 40px 0 0 0px;
}

.quanze>li:nth-child(3) {
	margin: 0 0 0 -0;
}

.quanze>li:nth-child(4) {
	margin: 0 0 0 -0;
}

.quanze>li:nth-child(5) {
	margin: 0 0 0 -0;
}

.quanze>li:nth-child(6) {
	margin: 0 0 0 -0;
}

.quanze>li:nth-child(7) {
	margin: 0 0 0 -0;
}


/* .评价 */
.pingjia {
	display: block;
}

.pingjia_t {
	width: 988px;
	height: 41px;
	line-height: 41px;
	font-size: 14px;
	font-weight: 700;
	background-color: #F7F7F7;
	margin: 20px 20px 0 0;
}

.pingjia_m {
	height: 40px;
	margin: 0 auto;
	background-color: #fafafa;
	color: #666;
}

.pingjia_m>:nth-child(1) {
	color: red;
}

.pingjia_m>span {
	margin: 0 10px;
	line-height: 40px;
}

.pingjia_m>span:hover {
	color: red;
}

.pingjia1 {
	height: 1000px;
	height:250px;
	padding: 15px;
	border-bottom: 1px solid #ddd;
}

.pingjia1_l {
	width: 140px;
	float: left;
}

.pingjia1_l>span:nth-child(1) {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	overflow: hidden;
	float: left;
}

.pingjia1_l>span:nth-child(1)>img {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	overflow: hidden;
}

.pingjia1_l>span:nth-child(2) {
	float: left;
	display: inline-block;
	margin: 5px 0 0 5px;
}

.pingjia1_l>p {
	margin: 10px 100px 0 0;
}

.pingjia1_r {
	width: 810px;
	float: right;

}

.plus {
	width: 52px;
	height: 18px;
	display: inline-block;
	padding: 0 4px;
	font-size: 12px;
	line-height: 18px;
	background: #414141;
	color: #fff38f;
	border-radius: 1px;
	margin: 5px 5px 0 0;
}

.xx>:nth-child(1) {
	width: 78px;
	height: 14px;
	background: url(../img/xingxing.png);
	margin: 5px 0 10px 0;
}

.xx>li {
	line-height: 24px;
	color: #999;
}

.xx>:nth-child(4) {
	margin: 10px 0 10px 0;
}

.xx>:nth-child(4)>span {
	display: inline-block;
	width: 52px;
	height: 52px;
	border: 1px solid #ccc;
}

.pingjia_t{
	padding-left: 10px;
}
.shequ{
	display: block;
}.pingjia_t>p{
	float: left;
	width: 100px;
	height: 800px;
}
.pingjia_t>span{
	display: block;
	float: right;
	height: 28px;
	line-height: 28px;
	padding: 0 16px;
	background-color:#df3033;
	color:#fff;
	margin: 10px 30px 0 0;
	cursor: pointer;
}
.pingjia2{
	width: 100%;
	height: 28px;
	background-color: #FAFAFA;
	border-top: 1px solid gray;
}
.pingjia2 a{
	color: #969896;
	line-height: 28px;
	margin: 0 10px;
}
.shequ>p{
	text-align: center;
}



















