@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
/* cursor: pointer; 鼠标表小手 */
* {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 13px;
}

a {
	text-decoration: none;
}

#tb {
	font-size: 15px;
}

.niubi {
	width: 100%;
	min-width: 1390px;
	background-color: #f2f2f2;
}

/* 导航 ----------------------------------------------------*/
.header {
	width: 100%;
	height: 30px;
	min-width: 1390px;
	background-color: #e3e4e5;
}

.header a {
	text-decoration: none;
	color: #999999;
}

/* 导航最小框 */
.h_m {
	width: 1390px;
	height: 30px;
	line-height: 30px;
	color: #999;
	margin: 0 auto;
}

/* 导航左定位 */
.h_ml {
	float: left;
	color: #999;

}

.h_ml>span {
	display: inline-block;
	padding: 0 10px;
}

.guangdong {
	position: relative;
}

.guangdong:hover {
	background-color: white;
}

#sy {
	font-size: 15px;
}

/* 定位下拉列表 */

.gd {
	width: 320px;
	height: 340px;
	position: absolute;
	background-color: white;
	top: 30px;
	left: -1px;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	display: none;
	z-index: 888;
}

.guangdong:hover .gd {
	display: block;
}

.gd>ul {
	float: left;
}

.diqu>li {
	width: 52px;
	height: 24px;
	margin: 6px;
	text-align: center;
	line-height: 24px;
}

.diqu li:hover {
	background-color: red;
	color: white;
	border-radius: 5px;
}

.dq {
	margin: 0 0 0 15px;
}

.gd_x {
	width: 290px;
	height: 1px;
	background-color: #F2F2F2;
	float: left;
	margin: 10px 0 10px 20px;
}

.yinwen li {
	width: 140px;
	background: no-repeat;
	margin: 0 0 0 10px;
}

.diqu1 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 3px;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 0 0;
}

.diqu2 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 20px 0;
}

.diqu3 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 40px 0;
}

.diqu4 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: 0px 17px;
}

.diqu5 {
	display: inline-block;
	float: left;
	width: 17px;
	height: 14px;
	margin: 10px 0 0 0;
	background: url(../img/（PNG%20图像，55x27%20像素）.png);
	background-position: -20px 17px;
}



/* 导航右边 */
.h_mr {
	height: 30px;
	float: right;
}

.h_mr>span {
	margin: 0 5px;
	float: left;
}

.dl>a:nth-child(1) {
	color: #999;
	font-weight: 500;
}

.dl>a:nth-child(1):hover {
	color: red;
}

.dl>a:nth-child(2) {
	color: red;
}

/* 竖线 */
.dl_shu {
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: #ccc;

}

/* 我的京东 */
.wdjd {
	padding: 0 5px;
	position: relative;
}

.wdjd:hover {
	/* background-color: red; */
	background-color: white;
}

.wdjd>a:hover {
	color: red;
}

/* 我的京东下拉 */
.wdjd:hover .wdjd_m {
	display: block;
}

.wdjd_m {
	position: absolute;
	width: 270px;
	height: 164px;
	background-color: white;
	left: 0;
	display: none;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
}

.wdjd_m>ul {
	float: left;
}

.wdjd_m>ul>li {
	width: 120px;
	margin: 0 0 0 15px;
}

.wdjd_m>ul>li a:hover {
	color: red;
}

/* 京东会员 */
.jdhy a:hover {
	color: red;
}

/* 企业采购 */
.qycg {
	padding: 0 3px;
	position: relative;
}

.qycg:hover {
	background-color: white;
}

.qycg a:hover {
	color: red;
}

/* 企业采购下拉 */
.qycg_m {
	position: absolute;
	left: 0;
	width: 156px;
	height: 70px;
	background-color: white;
	display: none;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
}

.qycg:hover .qycg_m {
	display: block;
}

.qycg_m>ul {
	float: left;
}

.qycg_m>ul>li {
	width: 65px;
	margin: 2px 0 0 5px;
}

/* 客户服务 */
.khfw>a:hover {
	color: red;
}

.khfw {
	position: relative;
	padding: 0 3px;

}

.khfw:hover {
	background-color: white;
}

/* 客户服务下拉菜单 */
.khfw:hover .khfw_m {
	display: block;
}

.khfw_m {
	position: absolute;
	left: -113px;
	width: 171px;
	height: 248px;
	background-color: white;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	display: none;
}

.khfw_m>p {
	float: left;
	width: 160px;
	height: 20px;
	margin: 0 0 0 5px;
	font-weight: bold;
	color: #868686;
}

.khfw_m>ul {
	float: left;
}

.khfw_m>ul>li {
	width: 80px;
	margin: 0 0 0 5px;
}

/* 网站导航 */
.wzdh {
	position: relative;
	padding: 0 3px;

}

.wzdh:hover {
	background-color: white;
}

/* 网站导航下拉 */
.wzdh:hover .wzdh_m {
	display: block;
}

.wzdh_m {
	width: 1390px;
	height: 188px;
	background-color: white;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	display: none;
	position: absolute;
	left: -1252px;
}

/* <!-- 特色主题 --> */
.wzdh_m1 {
	width: 400px;
	height: 100%;
	margin: 0 0 0 20px;
	float: left;
}

.wzdh_m1>p {
	width: 100%;
	height: 24px;
	line-height: 24px;
	color: black;
	font-weight: 700;
	font-size: 15px;
	margin: 10px 5px 0 0;
	float: left;
}

.wzdh_m1>ul {
	float: left;
}

.wzdh_m1>ul>li {
	width: 100px;
	height: 27px;
}

.wzdh_m1>ul>li>a:hover {
	color: red;
}

/* <!-- 竖线 --> */
.wzdh_x {
	width: 1px;
	height: 80%;
	background-color: #d6d6d6;
	float: left;
	margin: 20px 0 0 0;
}

/* <!-- 行业频道   生活服务  更多精选--> */
.wzdh_m2 {
	width: 300px;
	height: 100%;
	/* background-color: red; */
	float: left;
	margin: 0 0 0 20px;
}

.wzdh_m2>p {
	width: 100%;
	height: 24px;
	line-height: 24px;
	color: black;
	font-weight: 700;
	font-size: 15px;
	margin: 10px 5px 0 0;
	float: left;
}

.wzdh_m2>ul {
	float: left;
}

.wzdh_m2>ul>li {
	width: 100px;
	height: 27px;
}

.wzdh_m2>ul>li>a:hover {
	color: red;
}

/* 手机京东 */
.sjjd {
	position: relative;
	padding: 0 3px;
}

.sjjd:hover {
	background-color: white;
}

.sjjd:hover .sjjd_m {
	display: block;
}

.sjjd_m {
	width: 190px;
	height: 300px;
	background-color: white;
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	border-top: hidden;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	z-index: 888;
	left: -133px;
}

/* <!-- 第一个二维码 --> */
.sjjd_m1 {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ccc;
}

/* <!-- 二维码图 --> */
.sjjd_erweima {
	width: 70px;
	height: 70px;
	margin: 15px 0 0 10px;
	float: left;
	border: 1px solid #ccc;
}

.sjjd_erweima>img {
	width: 70px;
	height: 70px;
}

/*<!-- 二维码图右边的字 --> */
.sjjd_z {
	width: 96px;
	height: 70px;
	float: left;
	margin: 15px 0 0 0;
}

.sjjd_z>p:nth-child(1) {
	height: 17px;
	font-weight: 700;
	color: #686868;
	margin: -8px 0 0 5px;
}

.sjjd_z>p:nth-child(2) {
	margin: 10px 0 0 5px;
	color: red;
	line-height: 16px;
}

.sjjd_z>p>span {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: red;
}

.sjjd_z>p>span:nth-child(1) {
	background: url(../img/sprite_mobile@1x.png);
}

.sjjd_z>p>span:nth-child(3) {
	background: url(../img/sprite_mobile@1x.png);
	background-position: 0 25px;
}

.sjjd_z>p>span:nth-child(2) {
	background: url(../img/sprite_mobile@1x.png);
	background-position: 0 51px;
}










/* <!-- 导航2 -------------------------------------------------------> */
.daohang2 {
	width: 100%;
	background-color: white;
	min-width: 1390x;
	border-bottom: 1px solid #ddd;
}

.daohang2 a {
	text-decoration: none;
	color: #999999;
}

.dh2_m {
	width: 1390px;
	height: 130px;
	margin: 0 auto;
	padding-top: 10px;
}

/* <!-- logo图 --> */
.dh2_logo {
	width: 275px;
	height: 42px;
	float: left;
}

.dh2_logo>img {
	width: 134px;
	height: 42px;
}

/* <!-- 搜索框 --> */
.sck {
	float: left;
	width: 700px;
	height: 60px;
	background-color: white;
	margin: 10px 0 0 70px;
	position: relative;
}

.sck>input {
	width: 626px;
	height: 32px;
	padding-left: 10px;
}

.sck_z {
	margin: 5px 0 0 0;
}

.sck>p>a {
	margin: 0 2px;
}

.sck_z>a:hover {
	color: red;
}


.sck>button {
	width: 85px;
	height: 36px;
	background-color: red;
	border: 1px solid red;
	position: absolute;
	right: 20px;
	top: 0;
	color: white;
}

/* 搜索图标 */
#ss {
	font-size: 28px;
	line-height: 36px;
	color: white;
}


/* <!-- 购物车 --> */
.gwc {
	width: 132px;
	height: 36px;
	background-color: white;
	border: 1px solid #eee;
	float: left;
	position: relative;
	top: 10px;
	left: 50px;
}

.gwc>span {
	color: red;
}

/*  购物车图标 */
#gwc {
	font-size: 20px;
	color: red;
	line-height: 36px;
	margin: 0 10px 0 15px;
}

/*购物车"0"*/
.xiao {
	position: absolute;
	top: 1px;
	left: 29px;
	right: auto;
	display: inline-block;
	padding: 1px 4px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #e1251b;
	border-radius: 7px;
	text-align: center;
}


/* <!-- 秒杀  优惠券等等 --> */
.miaosha {
	height: 40px;
	font-weight: 700;
	float: left;
	margin: 20px 0 0 0;
}

.qbspfl {
	height: 100%;
	width: 190px;
	background-color: #f30213;
	float: left;
	line-height: 40px;
	font-size: 14px;
	color: white;
	margin: 0 20px 0 0;
}

.qbspfl>p {
	width: 100%;
	text-align: center;
}

.miaosha>a {
	float: left;
	position: relative;
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	color: #333;
	margin: 0 20px;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;

}

.miaosha>a:hover {
	color: #c81623;
}

.miaosha>a:nth-child(1) {
	font-weight: bold;
	color: red;
}

.miaosha>a:hover {
	color: #c81623;
}

.miaosha>a:nth-child(1):hover {
	color: #c81623;
}

.miaosha>a:nth-child(2) {
	font-weight: 2000;
	color: red;
}

.miaosha>a:nth-child(2):hover {
	color: #c81623;
}


.qbspfl:hover .dh3_m_l {
	display: block;
}

.dh3_m_l {
	width: 190px;
	height: 480px;
	float: left;
	background-color: white;
	position: absolute;
	position: relative;
	box-shadow: -1px 3px 12px -1px rgba(0, 0, 0, .3);
	color: black;
	display: none;
	z-index: 888;
}

.dh3_m_l>ul>li {
	width: 182px;
	height: 25px;
	line-height: 25px;
	padding-left: 8px;
}

.dh3_m_l>ul>li>a {
	text-decoration: none;
	margin: 0 2.5px;
	font-size: 14px;
	color: #333;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
	font-weight: 500;
}

.dh3_m_l>ul>li>a:hover {
	color: #c81623;
}

.dh3_m_l>ul>li:hover {
	background-color: #CCCCCC;
}

/* <!-- 导航3的二级菜单 --> */
.dh3_m_l>ul:hover .dh3_lx {
	display: block;
}

.dh3_lx {
	width: 989px;
	height: 457px;
	padding-left: 20px;
	padding-top: 20px;
	position: absolute;
	z-index: 665;
	background-color: white;
	left: 192px;
	top: 0;
	border: 1px solid #f7f7f7;
	-webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
	box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
	-webkit-transition: top .25s ease;
	transition: top .25s ease;
	display: none;
}

.dh3_lx_t>button {
	padding: 5px 10px;
	border: 0;
	background-color: #7C7171;
	color: white;
	margin: 0 0 0 3px;
	-webkit-transition: background .3s ease, color .3s ease;
	transition: background .3s ease, color .3s ease;
}

.dh3_lx_t>button:hover {
	background-color: rgb(225, 37, 27);
}

.dh3_lx>ul>li {
	margin: 4px 0 4px 0;
	width: 900px;
	float: left;
}

.dh3_lx_m_l {
	float: left;
	display: inline-block;
	width: 70px;
	text-align: right;
	font-weight: 800;
	margin: 0 5px 0 0;
}

.dh3_lx_m_l2 {
	float: left;
	display: inline-block;
	margin: 0 0 0 10px;
	width: 700px;
}

.dh3_lx_m_l2>a {
	margin: 0 5px;
	font-size: 12px;
	color: #999;
}

.dh3_lx_m_l2>a:hover {
	color: red;
}

.dh3_lx_b {
	width: 190px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.dh3_lx_b_t {
	width: 180px;
	height: 132px;
	padding-left: 10px;
	padding-top: 10px;
	background-color: white;
}

.dh3_lx_b_t2 {
	padding-left: 10px;
	}
.warp {
	width: 990px;
	margin: 30px auto;
	background: #fff;
}

.top {
	height: 27px;
	width: 100%;
	background: #fff;
}

.top:after {
	content: '';
	display: block;
	clear: both;
}

.top .top_left {
	color: #E2231A;
	width: 75px;
	font-size: 16px;
	height: 26px;
	line-height: 26px;
	float: left;
	text-align: left;
	border-bottom: 1px solid #E2231A;
}

.top .top_right {
	float: right;
}

.nav {
	display: block;
	height: 32px;
	line-height: 32px;
	margin: 0 0 10px;
	padding: 5px 0;
	background: #f3f3f3;
	border: 1px solid #e9e9e9;
	border-top: 0;
}

.nav:after {
	content: '';
	display: block;
	clear: both;
}

.nav .nav_one {
	float: left;
	height: 25px;
	line-height: 32px;
	padding-top: 7px;
	width: 122px;
	padding-left: 11px;
	font-size: 18px;
	position: relative;
}

#one {
	float: left;
	position: absolute;
	top: 10px;
	margin-right: 5px;
}

.nav_one span {
	float: left;
	height: 18px;
	line-height: 18px;
	position: absolute;
	left: 30px;
}

.nav_two {
	float: left;
	width: 208px;
}

.nav_three {
	float: left;
	width: 140px;
	height: 32px;
	padding: 0 10px 0 20px;
}

.nav_four {
	float: left;
	width: 120px;
	padding-right: 40px;
	text-align: right;
}

.nav_five {
	float: left;
	width: 80px;
	text-align: center;
}

.nav_six {
	float: left;
	width: 100px;
	padding-right: 40px;
	text-align: right;
}

.nav_seven {
	float: left;
	width: 75px;
}

.warp .shop {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #FFFFFF;
	padding-left: 11px;
	font-weight: 700;
}

.warp .time {
	position: relative;
	padding-left: 11px;
	/* border-top: 1px solid #c5c5c5; */
	line-height: 20px;
	height: 116px;
	background: #fff;
	position: relative;
}

.warp .time:after {
	content: '';
	display: block;
	clear: both;
}

.time_left {
	position: absolute;
	z-index: 3;
	left: 10px;
	top: 0;
	float: left;
	width: 30px;
	min-height: 10px;
	padding: 15px 0 10px;
}

.time_right {
	position: absolute;
	left: 40px;
	float: left;
	width: 948px;
	height: 108px;
	border-top: 1px solid #f1f1f1;
}

.time_right .tr_one {
	width: 300px;
	float: left;
	padding: 15px 0 10px;
}

.tr_one img {
	border: 1px solid #eee;
	float: left;
}

.tr_one p {
	height: 40px;
	color: #333;
	line-height: 20px;
	overflow: hidden;
}

.tr_two {
	float: left;
	width: 130px;
	padding-right: 0;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	padding: 15px 0 0 20px;
}

.tr_three {
	float: left;
	padding: 15px 0 10px;
	width: 150px;
	padding-right: 40px;
	font-family: verdana;
	text-align: right;
}

.tr_four {
	float: left;
	padding: 15px 0 10px;
	width: 80px;
}

.tr_four span {
	float: left;
	border: 1px solid #cacbcb;
	height: 18px;
	line-height: 18px;
	padding: 1px 0;
	width: 16px;
	text-align: center;
	color: #666;
	margin: 0;
	background: #fff;
	cursor: pointer;
}

.tr_four input {
	float: left;
	border: 1px solid #cacbcb;
	width: 40px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	padding: 1px;
	margin: 0;
	font-size: 12px;
	font-family: verdana;
	color: #333;
	-webkit-appearance: none;
}

.tr_five {
	float: left;
	width: 100px;
	padding: 15px 0 10px;
	padding-right: 40px;
	text-align: right;
	font-family: verdana;
	line-height: 20px;
	color: #333;
	font-weight: 700;
}

.tr_six {
	float: left;
	padding: 15px 0 10px;
	width: 75px;
}

.tr_six a {
	text-decoration: none;
	color: #333333;
	cursor: pointer;
}

.time p:hover {
	color: #E2231A;
}

.time a:hover {
	color: #E2231A;
}

.foot {
	width: 100%;
	height: 50px;
	margin-top: 30px;
	border: 1px solid #f0f0f0;
	background: #fff;
	position: relative;
}

.foot_left {
	float: left;
	height: 18px;
	width: 60px;
	line-height: 18px;
	padding: 16px 0 16px 9px;
	white-space: nowrap;
}

.foot_right {
	float: right;

}

.fr1 {
	float: left;
	color: #999;
	height: 44px;
	line-height: 20px;
	margin: 7px 0 0;
	cursor: pointer;
}

.fr1 span {
	color: #E2231A;
	font-family: verdana;
	font-weight: 700;
	margin: 0 3px;
}

.fr2 {
	float: left;
	height: 43px;
	line-height: 20px;
	margin: 7px 5px 0 10px;
	color: #666;
	width: auto;
	position: relative;
}

.fr2 span {
	font-size: 16px;
	color: #E2231A;
	font-weight: 700;
}

.fr3 {
	float: left;
	width: 94px;
	height: 52px;
	line-height: 52px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	background: #e54346;
	border: none;
	cursor: pointer;
}
.tr_one>img{
	width: 80px;
	height: 80px;
}


/* <!-- 尾部 --> */
.weibu {
	width: 1190px;
	margin: 100px auto 20px;
}

/* <!-- 尾部上 多 快 好 省 --> */
.weibu_t {
	width: 1160px;
	height: 104px;
	padding-left: 20px;
}

.weibu_t1 {
	width: 225px;
	height: 42px;
	margin: 35px 0 0 50px;
	float: left;
}

.weibu_t1_t {
	width: 36px;
	height: 42px;
	float: left;
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: 0 -192px;
}

.weibu_t1>p {
	float: left;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 700;
	color: #444;
	margin: 0 0 0 10px;
}

.weibu_t2 {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -41px -192px;
}

.weibu_t3 {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -82px -192px;
}

.weibu_t4 {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -123px -192px;
}

/* <!-- 尾部中 --> */


.foot_m {
	width: 1190px;
	height: 200px;
	border-top: 1px solid #e1e1e1;
}

.foot_m>ul {
	width: 198px;
	height: 22px;
	float: left;
	margin: 20px 0 0 0;
	padding-top: 10px;

}

.foot_m>ul>p {
	font-size: 14px;
	font-weight: 700;
}

.foot_m>ul>li {
	height: 26px;
	line-height: 26px;
}

.foot_m>ul>li>a {
	color: #666;
}

.foot_m>ul>li>a:hover {
	color: #c81623;
}

.ckxq {
	float: right;
}

/* <!-- 尾部下 --> */

.foot_f {
	width: 100%;
	height: 265px;
	margin: 20px 0 0 0;
	border-top: 1px solid #e1e1e1;
}

.foot_f>ul>li {
	width: 1190px;
	text-align: center;
	height: 26px;
	line-height: 26px;
}

.foot_f>ul>li:nth-child(1)>a {
	color: #666;
	margin: 0 5px;
	font-size: 10px;
}

.foot_f>ul>li span {
	display: inline-block;
	margin: 0 5px;
}

.foot_f>ul>li a:hover {
	color: #c81623;
}

.zi a {
	color: #999;
}

.zi {
	color: #999;
	text-align: center;
}

.zi-t {
	margin: 30px 0 0 0;
}

.zi-t>span {
	display: inline-block;
	width: 103px;
	height: 32px;
	background-color: red;
	cursor: pointer;
}

.zi-t>span:nth-child(1) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px 0;
}

.zi-t>span:nth-child(2) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px -37px;
}

.zi-t>span:nth-child(3) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px -74px;
}

.zi-t>span:nth-child(4) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px -111px;
}

.zi-t>span:nth-child(5) {
	background-image: url(../img/duo%20快%20好%20省.png);
	background-position: -205px -148px;
}

.jiao{
	background-color: #ccc;
	margin: -30px 0 0 0;
}


